/**
 * UI.Global.Form
 */
.TextInput {
    display: inline-block;
    border: 1px solid $brand-lambda;
    padding: $base-spacing-unit / 2;
    @include appearance(none);
    box-shadow: none;
    border-radius: $brand-round-small;
    font-size: 1em;

    &:focus {
        outline: none;
    }
}

/**
 * @support IE9+ Due to the :checked and :disabled pseudo-classes
 */
%ClickInput {
    display: none;

    + label {
        @extend .Icon;
        @extend .Icon--Large;
        cursor: pointer;

        &:before {
            margin-right: $base-spacing-unit/2;
        }
    }

    &:disabled + label {
        color: $brand-lambda;
        cursor: default;
    }
}

.CheckInput {
    @extend %ClickInput;

    + label {
        @extend .Icon--Checkbox;
    }

    &:checked + label {
        @extend .Icon--CheckboxChecked;
    }
}

/**
 * The RadioInput relies on the following markup:
 *
 * <input class="RadioInput" type="radio" name="theName" id="theID">
 * <label for="theID">...content...</label>
 */
.RadioInput {
    @extend %ClickInput;

    & + label {
        @extend .Icon--Radio;
    }

    &:checked + label {
        @extend .Icon--RadioChecked;
    }
}

/**
 * Mimick the use of block level elements, which are actually invalid
 * HTML. Yeah, so this is definitively a hack.
 */
label > span,
label > strong {
    display: block;
}
