/**
 * UI.Global.MobileNav
 */
.MobileNav {
    background-color: $brand-omicron;
    padding-right: $base-spacing-unit;
    position: relative;

    .Nav {
        margin-bottom: 0;
    }
}

/**
 * 1. High z-index to trump *all* other items.
 * @todo Fix z-index trump in revolution slider.
 */
.MobileNav--IsSticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: calculate-z-index(3); /* [1] */
    box-shadow: $shadow-drop;
}

    .MobileNav__Toggle {
        padding: $base-spacing-unit;
        color: $brand-eta;
    }

    .MobileNav__Toggle--IsOpen {
        background-color: $brand-beta-main;
    }

    .MobileNav__Icon {
        padding: $base-spacing-unit/2;
    }

    /**
     * 1. Displays the number of items in the cart.
     */
    .MobileNav__Icon--Cart {

        &:after {
            content: attr(data-count); /* [1] */
            display: inline-block;
            background-color: $brand-alpha-main;
            color: $brand-eta;
            padding: 0 0.25em;
            @include overlay(right, top, -0.5em, -0.25em);
            border-radius: $brand-round-small;
        }
    }

    /**
     * 1. Max-height will be recalculated with JS for Visible-state.
     * 2. High z-index to trump all other elements;
     */
    .MobileNav__Nav {
        @include position(absolute, 100% 0px 0 0px);
        @include scrollable;
        @include animatable;
        max-height: 0; /* [1] */
        z-index: calculate-z-index(3); /* [2] */
        box-shadow: $shadow-drop;
        background-color: $brand-eta;
        transition: max-height $base-animation-duration $base-animation-function;
    }

    .MobileNav__Nav--IsVisible {
        max-height: none; /* [1] */
        border-top: 0.25em solid $brand-beta-main;
    }
