/**
 * UI.Global.Page
 *
 * 1. Temporary styles.
 * @todo Clean up temporary styles.
 */
html {
    background-color: $brand-eta;
    background: url(../img/bg-pattern.png);
}

body {
    padding: $base-spacing-unit 0; /* [1] */
    margin: 0 auto;
    @extend .HasOverlay;

    /* [1] */
    @include breakpoint($bp-s) {
        padding-right: 2%;
        padding-left: 2%;
    }
    @include breakpoint($bp-m) {
        padding-right: 3%;
        padding-left: 3%;
    }
    @include breakpoint($bp-l) {
        padding-right: 6%;
        padding-left: 6%;
    }
    @include breakpoint($bp-xl) {
        padding-right: 9%;
        padding-left: 9%;
    }
    @include breakpoint($bp-xxl) {
        padding-right: 17.5%;
        padding-left: 17.5%;
    }
    @include breakpoint($bp-xxxl) {
        padding-right: 20%;
        padding-left: 20%;
    }
    /* [/1] */

    &:before {
        content: "";
        @include overlay;
        background: url(../img/streep.png) repeat-x 0 0 transparent;
        width: 100%;
        height: $base-spacing-unit/2;
    }
}

%PagePanel {
    background-color: $brand-eta;
    box-shadow: $shadow-panel;

    @include breakpoint($bp-s) {
        border-radius: $brand-round-large;
    }
}

/**
 * Page Content
 */
.PageContent {
    @include clearfix;
    @include margin-bottom;
    @extend %PagePanel;
}

.PageContent__Main:before,
.PageContent__SideBar:after {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    background-size: cover;
    display: none;

    @include breakpoint($bp-xxl) {
        display: block;
    }
}

.PageContent__Main {

    @include breakpoint($bp-xxl) {

        &:before {
            @include overlay(left, top, 0, 50%, -1);
            width: $base-spacing-unit*16;
            padding-bottom: $base-spacing-unit*8;
            background-image: url(../img/verfbak.png);
        }
    }
}

.PageContent__SideBar {
    position: relative;
    padding: 1em;
    z-index: 0;

    @include breakpoint($bp-xxl) {

        &:after {
            @include overlay(right, top, (round($base-spacing-unit*-13.6667)), ($base-spacing-unit*70), -1);
            background-image: url(../img/customer-service-person.png);
            width: $base-spacing-unit*19;
            padding-bottom: $base-spacing-unit*30;
        }
    }
}

.PageSection,
.PageSide {
    @include margin-bottom(2);

    > :last-child {
        margin-bottom: 0;
    }
}
