/**
 * UI.Global.PageHead
 */
.PageHead {
    @include margin-bottom(2);
}

/**
 * @extend Nav
 */
.PageHead__TopNav {
    @include margin-bottom;

    > li {
        margin-right: $base-spacing-unit;
    }
}

/**
 * Page Head Inner
 */
.PageHead__Inner {
    @include linear-gradient($brand-theta, $brand-eta, $fallback: $brand-theta);
    @extend %PagePanel;
    padding-top: $base-spacing-unit;
}

/**
 * Site Logo
 *
 * 1. Logo ratio 21:4.
 * 2. Must specify a second value for Chrome.
 * 3. Magic numbers come from a lot of trial and error. Using absolute
 *    numbers instead of percentages result in different behaviour on
 *    varying devices.
 * 4. For a large enough viewport, use a static width.
 */
.SiteLogo {
    display: block;
    padding-bottom: 21%; /* [1] */
    background: url($base-sprite-path) no-repeat 0 86% transparent; /* [3] */
    background-size: 485% 485%; /* [2] */

    @include breakpoint($bp-m) {
        width: $base-spacing-unit * 21; /* [4] */
        padding-bottom: 17%;
        background-size: $base-spacing-unit * 102; /* [4] */
        background-position: 0 ($base-spacing-unit * 12 * -1); /* [4] */
        @include margin-bottom;
    }
}

/**
 * Page Head Search
 *
 * 1. Match size of accompanying button
 */
.PageHeadSearch__Input {
    padding: round($base-spacing-unit/1.3334) $base-spacing-unit; /* [1] */
}

/**
 * Page Head Phone
 */
.PageHead__Phone {
    padding: $base-spacing-unit/6 $base-spacing-unit/3;
    text-align: center;
    border: 1px solid $brand-kappa;
    border-radius: $brand-round-small;
    display: inline-block;
}

/**
 * Page Head Cart
 */
.PageHead__Cart {
    text-align: right;
    color: $brand-nu;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: $brand-eta $brand-iota $brand-lambda;
    padding-right: $base-spacing-unit * 2;
    margin-right: $base-spacing-unit;
    padding-bottom: $base-spacing-unit / 2;
    padding-left: $base-spacing-unit * 4;
    border-radius: $brand-round-small;
    max-width: 15 * $base-spacing-unit;
    float: right;
    @extend .HasOverlay;

    &:before {
        @extend .Overlay;
        content: "";
        display: inline-block;
        background: url(../img/winkelwagen.png) no-repeat 0% 0 transparent;
        background-size: auto 100%;
        @include overlay(left, bottom, (-2.5 * $base-spacing-unit), ($base-spacing-unit*-1.25), 0);
        width: $base-spacing-unit * 10;
        height: $base-spacing-unit * 9;
    }
}

.PageHeadCart__NumItems {
    font-weight: 700;
}

.PageHeadCart__Num {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.PageHeadCart__GoTo {
    text-decoration: underline;
}

/**
 * Page Head USP
 */
.PageHead__Usp {
    @include font-size($micro-size, small);
    margin-bottom: 0;

    @include breakpoint($bp-s) {
        font-size: 1em;
    }

    > li:nth-child(2) a,
    > li:nth-child(5) a {
        border-style: solid;
        border-color: $brand-lambda;
        border-width: 0 0 0 1px;
    }
}

    .PageHeadUsp__Link {
        text-decoration: none;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .PageHeadUsp__Standout {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: -0.25em;
    }
