/**
 * UI.Global.SiteNav
 *
 * 1. Provide a context for putting the Page Head Cart behind 
 *    this site nav.
 */
.SiteNav {
    margin-bottom: 0;
    background-color: $brand-xi;
    box-shadow: inset 0 0.25em 0.25em -0.25em $brand-eta;
    position: relative; /* [1] */

    @include breakpoint($bp-l) {
        font-size: 1.1em;
    }

    a {
        border-style: solid;
        border-width: 1px;
        line-height: $h2-size * 2;
        border-color: $brand-xi $brand-omicron $brand-omicron $brand-nu;
        color: $brand-eta;
        text-decoration: none;
    }

    > li:hover {
        border-color: $brand-beta-sec;

        a {
            border-color: $brand-beta-sec;
            background-color: $brand-beta-main;
        }
    }

    > li:first-child a {
        border-left-width: 0;
    }
}
