/**
 * UI.Global.Typography
 */
html {
    font-family: $brand-face;
    line-height: $base-line-height;
    font-size: $base-font-size;
}

/**
 * 1. Untested value. Should be applicable to larger items too.
 */
del {
    text-decoration: none;
    position: relative;

    &:after {
        content: "";
        @include overlay(left, top, 0, 50%);
        width: 100%;
        border-top: 1px solid $brand-alpha-main;
        transform: rotate(-5deg); /* [1] */
    }
}

sup {
    font-size: 66.6666%;
    top: -0.3334em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $brand-face-heading;
    font-weight: 400;
    line-height: 1;
}

.h1 { @include font-size($h1-size, x-large); }
.h2 { @include font-size($h2-size, large); }
.h3 { @include font-size($h3-size, medium); }
.h4 { @include font-size($h4-size, medium); }
.h5 { @include font-size($h5-size, small); }
.h6 { @include font-size($h6-size, small); }

h1,
h2 {
    @include margin-bottom(2);
}

h3,
h4,
h5,
h6 {
    @include margin-bottom(0.5);
}

.h--alt {
    font-family: $brand-face-alt;
    font-weight: 700;
    font-style: italic;
}

.PageTitle {
    @extend .h--alt;
    border-bottom: 1px solid $brand-iota;
}

.SectionHeading {
    background-color: $brand-iota;
    color: $brand-nu;
    @include margin-bottom(2);
    padding-right: $base-spacing-unit;
}

    .SectionHeading__Icon,
    .SectionHeading__Title {
        display: inline-block;
        vertical-align: middle;
    }

    .SectionHeading__Icon {
        margin-right: $base-spacing-unit;
        background-color: $brand-kappa;
        padding: 0.5em 0.75em;
    }

    .SectionHeading__Title {
        margin-bottom: 0;
    }

.SectionHeading--Alt {
    background-color: $brand-beta-main;
    color: $brand-eta;
}

.SectionHeading--Alt .SectionHeading__Icon,
.SectionHeading__Icon--Alt {
    background-color: $brand-beta-sec;
}

.SectionHeading--Rounded {
    border-radius: $brand-round-small;
    overflow: hidden;
}

.minor {
    font-weight: 400;
    font-family: $brand-face;
}

.muted {
    color: $brand-lambda;

    a:hover & {
        color: $brand-alpha-main;
    }
}

/**
 * Callout
 *
 * 1. Remove the bottom margin from a callout when it's in a Notice
 *    to prevent padding/spacing/alignment issues.
 */
.callout {
    font: italic 700 1.5em/1.3334 $brand-face-alt;

    .Notice & {
        margin-bottom: 0; /* [1] */
    }
}

.hide-text {
    @include hide-text;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

/**
 * Links
 */
a {
    color: inherit;
}

.link-inverse,
.inverse-link {

    &,
    * {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.faux-link {
    text-decoration: underline;
    color: $brand-alpha-main;
}

.email-link {
    word-wrap: break-word;
}
