$debug: false;

/**
 * Color definitions
 */
$c-orange:        #ff7600;
$c-orange-shade:  #f06f00;
$c-orange-light:  #feeddf;

$c-blue:          #0ae;
$c-blue-shade:    #008cc9;
$c-blue-light:    #ddeff2;

$c-green:         #80ce00;
$c-green-shade:   #66ad00;
$c-green-light:   #ddedcc;

$c-yellow:        #fddb00;
$c-yellow-shade:  #e5be00;
$c-yellow-light:  #fcf8c3;

$c-red:           #f00;
$c-red-shade:     #d00;
$c-red-light:     #ffecec;

$c-magenta:       #e5007d;
$c-magenta-shade: #ea0096;
$c-magenta-light: #f2e4ee;

$c-white:         #fff;
$c-gray-lightest: #f1f1f1;
$c-gray-lighter:  #ebebeb;
$c-gray-light:    #d7d7d7;
$c-gray-medium:   #aaa;
$c-gray-dark:     #888;
$c-gray-darker:   #585858;
$c-gray-darkest:  #292929;
$c-black:         #191919;

/**
 * Apply colors to the brand
 */
$brand-alpha-main:    $c-orange;
$brand-alpha-sec:     $c-orange-shade;
$brand-alpha-tert:    $c-orange-light;

$brand-beta-main:     $c-blue;
$brand-beta-sec:      $c-blue-shade;
$brand-beta-tert:     $c-blue-light;

$brand-gamma-main:    $c-green;
$brand-gamma-sec:     $c-green-shade;
$brand-gamma-tert:    $c-green-light;

$brand-delta-main:    $c-yellow;
$brand-delta-sec:     $c-yellow-shade;
$brand-delta-tert:    $c-yellow-light;

$brand-epsilon-main:  $c-red;
$brand-epsilon-sec:   $c-red-shade;
$brand-epsilon-tert:  $c-red-light;

$brand-zeta-main:     $c-magenta;
$brand-zeta-sec:      $c-magenta-shade;
$brand-zeta-tert:     $c-magenta-light;

$brand-eta:      $c-white;
$brand-theta:    $c-gray-lightest;
$brand-iota:     $c-gray-lighter;
$brand-kappa:    $c-gray-light;
$brand-lambda:   $c-gray-medium;
$brand-mu:       $c-gray-dark;
$brand-nu:       $c-gray-darker;
$brand-xi:       $c-gray-darkest;
$brand-omicron:  $c-black;


/**
 * Fonts/faces
 */
$brand-face: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
$brand-face-heading: "stag-sans", $brand-face;
$brand-face-alt: "doko", $brand-face-heading;

/**
 * Spacing and sizes
 */
$base-spacing-unit: 12px;
$base-max-site-width: 1100px;
$base-grid-columns: 12;
$brand-round-small: 0.25em;
$brand-round-large: 1em;
$base-font-size: 12px;
$base-line-height: 18px;
$base-ui-color: $brand-lambda;
$base-animation-duration: 150ms;
$base-animation-function: cubic-bezier(0.25, 0.75, 0.25, 0.85);
$base-z-index-priorities: 99999; // High number to override revolution slider settings

$h1-size: 2.4;
$h2-size: 1.8;
$h3-size: 1.4;
$h4-size: 1.4;
$h5-size: 1.2;
$h6-size: 1;

$giga-size: 7.2;
$mega-size: 4.8;
$kilo-size: 3.6;

$milli-size: 1.2;
$micro-size: 1.0;

/**
 * Breakpoints
 */
$bp-xs:   28em;
$bp-s:    33em;
$bp-m:    55em;
$bp-l:    66em;
$bp-xl:   80em;
$bp-xxl:  96em;
$bp-xxxl: 130em;

$breakpoints: (
	'x-small'    $bp-xs,
	'small'      $bp-s,
	'medium'     $bp-m,
	'large'      $bp-l,
	'x-large'    $bp-xl,
	'xx-large'   $bp-xxl,
	'xxx-large'  $bp-xxxl
);

/**
 * Sprite
 */
$base-sprite-path: "../img/dwd-sprite.min.svg";
$base-sprite-columns: 102;
$base-sprite-rows: 16;
$base-icon-size: $base-spacing-unit;

/**
 * Drop shadows
 */
$shadow-near: 0 0 0.25em transparentize($brand-lambda, 0.1); // Small, light global shadow
$shadow-drop: 0 0.375em 0.25em transparentize($brand-omicron, 0.75); // straight dropdown medium dark shadow
$shadow-global: 0 0.125em $base-spacing-unit transparentize($brand-omicron, 0.75); // Large global shadow
$shadow-panel: 0 0.125em 0.25em transparentize($brand-omicron, 0.75);
