/**
 * Reset margins from all elements in addition to normalize, for a 
 * more pixel perfect design
 */
body,
h1, h2, h3, h4, h5, h6, hgroup,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
    margin: 0;
    padding: 0;
}
