/**
 * Shared margins on the basis of single direction margins.
 *
 * @link csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre {
    @include margin-bottom;
}

/**
 * Some side margins for lists
 */
ul, ol, dd {
    margin-left: $base-spacing-unit*2;
}
