/**
 * UI.UI-Object.AccountDetails
 */
.AccountDetails__Amount {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 0.75;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.AccountDetails__Amount--Positive {
    color: $brand-alpha-main;
}

.AccountDetails__Amount--Negative {
    color: $brand-epsilon-main;
}
