/**
 * UI.UI-Object.Box
 */
.Box {
    padding: $base-spacing-unit;
    border-width: 1px 1px $base-spacing-unit/4 1px;
    border-style: solid;
    border-color: $brand-lambda;
    @include margin-bottom;
    border-radius: $brand-round-small;
}

.Box--IsClosed {
    color: $brand-lambda;
    border-color: $brand-kappa;

    .Box__Body {
        display: none;
    }
}

.Box--IsSelectable {
    border-width: 2px;
}

/**
 * 1. Calculated number: round(Math.sqrt(2));
 * 2. The 'arrow' is hidden until the box is hovered. By not setting the 
 *    content attribute we don't have to use a display: none.
 *
 * @TODO: Look at this example of a triangle shape with a border/shadow:
 *        http://seesparkbox.com/foundry/clean_up_your_shapes
 *        https://developer.mozilla.org/en-US/docs/Web/CSS/filter
 */
.Box--HasArrow {
    position: relative;
    
    &:before {
        position: absolute;
        top: -0.5em;
        left: 50%;
        width: 2em;
        height: 2em;
        margin-left: -1.4em; /* [1] */
        background-color: $brand-eta;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
        box-shadow: -2px -2px 0 $brand-beta-main;
    }
}

.Box--IsSelectable:hover,
.Box--IsSelected {
    border-color: $brand-beta-main;

    &:before {
        content: ""; /* [2] */
    }
}
