/**
 * UI.UI-Object.Date
 */
.Date {
    @include overlay(auto, top);
    background-color: $brand-nu;
    border-bottom-right-radius: $brand-round-small;
    border-bottom-left-radius: $brand-round-small;
    font: italic 700 1.25em/1 $brand-face-alt;
    @include font-size(1.25, large);
    padding: $base-spacing-unit/6 $base-spacing-unit/1.5;
    text-align: center;
    color: $brand-eta;
}

.Date--Large {
    font-size: 1.5em;
}

.Date--Left {
    left: $base-spacing-unit;
}

.Date--Right {
    right: $base-spacing-unit;

    @include breakpoint($bp-s) {
        right: auto;
        left: 100%;
    }
}

    .Date__Day,
    .Date__Month,
    .Date__Year {
        display: block;
    }

    .Date__Day {
        font-size: 1.5em;
    }

    /**
     * 1. Very font-specific. Change accordingly.
     */
    .Date__Year {
        font-size: 0.875em;
        line-height: 1.5; /* [2] */
    }
