/**
 * UI.UI-Object.FocusList
 * 
 * 1. Hack to 'unfocus' a focussed element.
 */
.FocusList {

    &:hover > li {
        box-shadow: none; /* [1] */
    }

    > li {
        padding: $base-spacing-unit $base-spacing-unit*2;

        &:hover {
            box-shadow: $shadow-near;
        }
    }
}

    .FocusList__Item--IsFocussed {
        box-shadow: $shadow-near;
    }
