/**
 * UI.UI-Object.Notice
 */
.Notice {
    @include margin-bottom;
    background-color: $brand-iota;
    color: $brand-nu;
    @include font-size(1.125, large);

    a {
        padding: $base-spacing-unit;
        display: block;
    }
}

/**
 * 1. Cut off content flowing over rounded edges.
 */
.Notice--Rounded {
    border-radius: $brand-round-small;
    overflow: hidden; /* [1] */
}

.Notice--Padded {
    padding: $base-spacing-unit;
}

.Notice--Success {
    background-color: $brand-gamma-tert;
    border: 1px solid $brand-gamma-main;
    color: $brand-gamma-main;
}
