/**
 * UI.UI-Object.Order
 * 
 * 1. Explicit width to prevent collapsing when orderrules are hidden.
 * 2. Hide content flowing over rounded edges.
 */
.Order {
  width: 100%; /* [1] */
  display: inline-block;
  border: 1px solid $brand-lambda;
  border-left: 0.375em solid $brand-alpha-main;
  border-radius: $brand-round-small;
  overflow: hidden; /* [2] */
  @include animatable;

  .DefList {
    margin-bottom: 0;
  }
}

.DefList__Stack {
  background-color: $brand-iota;

  @include breakpoint($bp-m) {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    border-bottom: 1px solid $brand-lambda;
  }
}

.Order__Key,
.Order__Value,
.OrderRule__Key,
.OrderRule__Value {
  padding: $base-spacing-unit;
  border: 0 solid $brand-lambda;
}

.Order__Key,
.OrderRule__Key {
  border-width: 1px 1px 0 0;
  margin-top: -1px;
  margin-right: -1px;
}

.OrderRule__Value,
.Order__Value {
  margin-left: $base-spacing-unit * 11 - 1px;
  border-width: 0 0 1px 1px;
}

.Order__Value {
  background-color: $brand-eta;

  @include breakpoint($bp-m) {
    border-bottom-width: 0;
    margin-left: -1px;
  }
}

.Order__Key {
  width: 11 * $base-spacing-unit;
  background-color: $brand-iota;
  margin-right: $base-spacing-unit;

  @include breakpoint($bp-m) {
    width: 100%;
    float: none;
    margin-left: -1px;
    border-width: 1px 0 1px 1px;
  }
}

.Order__Value--HasContent {
  padding: 0;
}

.OrderRulesToggler {
  position: relative;
  cursor: pointer;
  background: $brand-lambda;
  padding-bottom: $base-spacing-unit*2;  
  width: 100%;
  
  .Icon {
    position: absolute;
    left: 50%;
    top: $base-spacing-unit/4;
  }
}
.OrderRulesToggler--IsOpen .Icon {
  transform: rotate(180deg);
}

/**
 * 3. This element will be slideToggled with jQuery.
 */
.Order__Rules {
  display: none; /* [3] */
  margin-bottom: 0;
}

.OrderRule {
  box-shadow: inset 0 0.375em 0.25em transparentize($brand-mu, 0.5);
}

.OrderRule__Key {
  margin-right: $base-spacing-unit;
  width: $base-spacing-unit * 11;

  @include breakpoint($bp-m) {
    width: 25%;
    border-right-width: 0;
  }
}

.OrderRule__Value {

    @include breakpoint($bp-m) {
        margin-left: 25%;
    }
}


