/**
 * UI.UI-Object.Pagination
 */
.Pagination {
    @extend .Nav;
    @include font-size(1.5, large);
    display: inline-block;
    vertical-align: middle;
    margin-right: $base-spacing-unit;
    margin-left: $base-spacing-unit;
    margin-bottom: 0;

    a {
        padding: 0.25em;
        color: $brand-nu;

        &:hover {
            color: $brand-alpha-main;
        }
    }
}

    .Pagination__Current {
        @extend .link-inverse;
        color: $brand-alpha-main;
    }
