/**
 * UI.UI-Object.Panel
 *
 * 1. Need a high specificity to override BLockList items (.BlockList > li).
 */
.HasPanel,
.BlockList > .HasPanel {
    border: none; /* [1] */
}

.Panel {
    display: block;
    padding: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: $base-ui-color;
    border-radius: $brand-round-small;
}

.Panel--Padded {
    padding: $base-spacing-unit;
}

.Panel--Alt {
    background-color: $brand-iota;
    color: $brand-nu;
}

.Panel--Error {
    border-color: $brand-epsilon-main;
    background-color: $brand-epsilon-tert;
    color: $brand-epsilon-main;
}
