/**
 * UI.UI-Object.PopOver
 */
.PopOver {
    display: none;
    box-shadow: 0 0 0.5em transparentize($brand-lambda, 0.1);
    padding: $base-spacing-unit;
    background-color: $brand-eta;
    @include overlay(auto, top, null, $base-spacing-unit);

    .HasPopOver:hover & {
        display: block;
    }
}
