/**
 * UI.UI-Object.PriceTable
 *
 * 1. Context for button.
 */
$priceTableBtnSize: $base-spacing-unit*2;

.PriceTable {
    display: inline-block;
    width: 100%;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $brand-kappa;

    .Nav {
        margin-bottom: 0; // dirty bit?
        margin-left: -1px; // dirty bit?
    }

    li {
        padding: $base-spacing-unit/2 $base-spacing-unit;
        text-align: center;
        border-right: 1px solid $brand-kappa;
        margin-right: -1px;

        &:last-child {
            border-right-width: 0;
        }
    }

    label:before {
        margin-right: 0; // dirty bit
    }
}

    .PriceTable__Context {
        position: relative; /* [1] */
        padding-right: $priceTableBtnSize;
        padding-left: $priceTableBtnSize;
    }

    .PriceTable__hScroller {
        @include scrollable("x");
    }

    .PriceTable__Heading {
        font-size: 1em;
        background-color: $brand-beta-tert;
        text-align: center;
        margin-bottom: 0;
        padding: $base-spacing-unit/2;
        border-width: 1px 0;
        border-style: solid;
        border-color: inherit;
    }

    .PriceTable__Btn {
        @extend .Btn;
        @extend .Btn--Alt;
        border-radius: 0;
        border-color: $brand-kappa;
        box-shadow: none;
        @include position(absolute, 0px 0 0px 0);
        width: $priceTableBtnSize;
        background: $brand-iota;
    }

    .PriceTable__Btn--Prev {
        left: 0;
        border-width: 0 1px 0 0;
    }

    .PriceTable__Btn--Next {
        right: 0;
        border-width: 0 0 0 1px;
    }
