/**
 * UI.UI-Object.ProgressNav
 *
 * 1. Hide items flowing over rounded edges.
 */
.ProgressNav {
    @extend .Nav;
    @extend .Nav--Stretch;
    @extend .Nav--Banner;
    border-width: 0 1px;
    border-style: solid;
    border-color: $brand-kappa;
    border-radius: $brand-round-small;
    overflow: hidden; /* [1] */
    color: $brand-nu;
}

    /**
     * 2. Mandatory z-indexes for stacking multiple squares.
     */
    .ProgressNav__Item {
        border-width: 1px 0 3px;
        border-style: solid;
        border-color: $brand-kappa;
        background-color: inherit;
        text-decoration: none;
        position: relative;
        padding: $base-spacing-unit/2;
        pointer-events: none;
        cursor: default;

        &:before,
        &:after {
            content: "";
            @include overlay(after, top, 0, -1px);
            border-width: $base-spacing-unit*1.375 $base-spacing-unit;
            border-style: solid;
            border-color: transparent;
        }

        &:before {
            z-index: calculate-z-index(6); /* [2] */
            border-left-color: $brand-iota;
        }

        &:after {
            z-index: calculate-z-index(5); /* [2] */
            margin-left: -1px;
            border-left-color: $brand-eta;
        }

        /**
         * 3 .hide-for-medium-up.show-for-large-up does not seem to work here
         */
        .Icon { /* [3] */

            @include breakpoint($bp-m) {
                display: none;
            }

            @include breakpoint($bp-l) {
                display: inline-block;
            }
        }

        span {
            margin-right: $base-spacing-unit/-2;
        }
    }

    .ProgressNav__Item--Past {
        background-color: $brand-iota;
        pointer-events: auto;
        cursor: pointer;

        &:after {
            display: none;
        }
    }

    .ProgressNav__Item--Current {
        background-color: $brand-alpha-main;
        color: $brand-eta;
        border-color: $brand-alpha-sec;

        &:before {
            border-left-color: $brand-alpha-main;
        }

        &:after {
            display: none;
        }
    }
