/**
 * UI.UI-Object.Ribbon
 *
 * 1. Hide ribbon overflow;
 * 2. Fixed width. This means there's only a little room for different texts.
 * 3. Magic numbers for positioning;
 */
.HasRibbon {
    @extend .HasOverlay;
    overflow: hidden; /* [1] */
}

.Ribbon {
    @include overlay(left, top, -2.5em, 1.5em); /* [3] */
    padding: $base-spacing-unit/2 0;
    width: 11em; /* [2] */
    text-align: center;
    color: $brand-eta;
    background-color: $brand-beta-main;
    transform: rotate(-45deg);
}

.Ribbon--Alt {
    background-color: $brand-gamma-main;
}
