/**
 * UI.UI-Object.Tabs
 */
.Tabs {
    @include margin-bottom;
    border: 2px solid $brand-kappa;
    border-radius: $brand-round-small;
    overflow: hidden;
}

    .Tabs__Tab {
        display: none;
        padding: $base-spacing-unit;

        > img {
            display: block;
            margin: 0 auto;
        }
    }

    .Tabs__Tab--Current {
        display: block;
    }

    .Tabs__Nav {
        @extend .Nav;
        @extend .Nav--Banner;
        @extend .Nav--Stretch;
        margin-bottom: 0;
        background-color: $brand-iota;
        color: $brand-nu;
    }

        .TabsNav__Item {
            border-top: 1px solid $brand-kappa;
            border-right: 1px solid $brand-kappa;
            padding-top: $base-spacing-unit;
            padding-bottom: $base-spacing-unit;
            cursor: pointer;

            &:last-child {
                border-right-width: 0;
            }
        }

        .TabsNav__Item--Current {
            background-color: $brand-eta;
            border-top-color: $brand-eta;
        }
