@charset "UTF-8";
/**
 * Import settings and PPG framework.
 * Settings should be imported first to override the PPG defaults.
 */
/**
 * Color definitions
 */
/**
 * Apply colors to the brand
 */
/**
 * Fonts/faces
 */
/**
 * Spacing and sizes
 */
/**
 * Breakpoints
 */
/**
 * Sprite
 */
/**
 * Drop shadows
 */
/**
 * Use Bourbon
 * http://bourbon.io/docs/
 */
/**
 * Import default settings
 */
/**
 * Spacing and sizes
 */
/**
 * Breakpoints
 *
 * Defined and mapped seperately, so the breakpoints themselves can
 * be used in breakpoint mixins.
 */
/**
 * Generics and utilities
 */
/**
 * Font Size mixin
 *
 * From http://seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
 *
 * @param $decimal-size The rem-value of the font-size
 * @param $keyword      A CSS font-size keyword like xx-small - xx-large
 */
/**
 * Clearfix for a container with floated children.
 *
 * @overrides Bourbon::clearfix
 */
/**
 * Bottom spacing utility
 *
 * @param $multiplier The amount of units that will be applied
 */
/**
 * Breakpoint mixin
 *
 * @param $breakpoint The screen width where to apply the content
 */
/**
 * Enforce GPU to kick in for smooth animations and maximum performance
 */
/**
 * Generate scrollbars inside an element
 *
 * @param $axis The axis on which to scroll. Can be x or y.
 *              Default: y.
 */
/**
 * Calculate the z-index based on the priority.
 *
 * @param $priority {number}
 * @link http://cdpn.io/38f582f9b1d85b243ce87be040fefdf4
 */
/**
 * Generate properties for an Overlay Object
 * @param $pos-x The horizontal position.
 *               Possible values: before, left, right, after
 *               Default: left
 * @param $pos-y The vertical position.
 *               Possible values: above, top, bottom, beneath
 *               Default: top
 * @param $offset-x The horizontal offset. Only use with left or right.
 * @param $offset-y The vertical offset. Only use with top or bottom.
 * @param $z-index The z-index.
 */
/**
 * Debugging
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Reset margins from all elements in addition to normalize, for a 
 * more pixel perfect design
 */
body,
h1, h2, h3, h4, h5, h6, hgroup,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Box-sizing
 *
 * @support IE8+
 * @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Clearfix
 *
 * @support IE8+
 * @link http://css-tricks.com/snippets/css/clear-fix/
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Shared margins on the basis of single direction margins.
 *
 * @link csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre {
  margin-bottom: 12px;
}

/**
 * Some side margins for lists
 */
ul, ol, dd {
  margin-left: 24px;
}

/**
 * Base styles: unclassed HTML elements etc.
 */
/**
 * Forms and elements
 */
label {
  cursor: pointer;
}

/**
 * Headings
 */
h1 {
  font-size: xx-large;
  font-size: 2.4rem;
}

h2 {
  font-size: x-large;
  font-size: 1.8rem;
}

h3 {
  font-size: large;
  font-size: 1.4rem;
}

h4 {
  font-size: medium;
  font-size: 1.4rem;
}

h5 {
  font-size: small;
  font-size: 1.2rem;
}

h6 {
  font-size: x-small;
  font-size: 1rem;
}

/**
 * Images
 *
 * 1. Fluid images for responsive purposes
 */
img {
  max-width: 100%;
  /* [1] */
  height: auto;
  /* [1] */
}

/**
 * Lists
 *
 * 1. Remove vertical spacing in nested lists
 */
li > ol,
li > ul {
  margin-bottom: 0;
  /* [1] */
}

/**
 * Page
 *
 * 1. Force vertical scrollbars to be always visible to avoid 
 *    'jumping' pages.
 * 2. Always make the page fill the entire viewport.
 */
html {
  overflow-y: scroll;
  /* [1] */
  min-height: 100%;
  /* [2] */
}

/**
 * Tables
 *
 * 1. Force table to take up full parent's width
 */
/**
 * Objects and abstractions
 */
/**
 * Balloon
 *
 * 1. Stack balloon content higher than the ballon-tip.
 */
.Balloon > * {
  position: relative;
  /* [1] */
  z-index: 99994;
  /* [1] */
}
.Balloon:before, .Balloon:after {
  content: "";
  width: 0;
  height: 0;
}
.Balloon:after {
  border-style: solid;
  border-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 99993;
}

/**
 * Bare List has all spacing and styles stripped
 */
.BareList, .DefList, .IconList {
  margin-left: 0;
  list-style: none;
}

/**
 * Block List
 */
.BlockList {
  margin-left: 0;
  list-style: none;
}
.BlockList > li {
  border-bottom: 1px solid #aaaaaa;
}

/**
 * Base.Object.Breadcrumb
 *
 * 1. Right facing chevron
 */
.Breadcrumb a:after {
  content: "\203A";
  /* [1] */
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
}

/**
 * Buttons
 *
 * @link Most styles come from InuitCSS (https://github.com/csswizardry/inuit.css/blob/master/objects/_beautons.scss)
 *
 * 1. Allow for box model properties.
 * 2. Line up button with other content.
 * 3. Inherit font-styles, especially useful for `input`s.
 * 4. Normalize styles, mostly for iOS and Android.
 * 5. Indicate that button is clickable.
 * 6. Fix for odd inner spacing in IE7.
 * 7. Prevent button wrapping on multiple lines.
 */
.Btn, .PriceTable__Btn {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  font: inherit;
  /* [3] */
  text-align: center;
  /* [4] */
  border: none;
  /* [4] */
  -webkit-border-radius: 0;
  border-radius: 0;
  /* [4] */
  margin: 0;
  /* [4] */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  /* [4] */
  cursor: pointer;
  /* [5] */
  overflow: visible;
  /* [6] */
  white-space: nowrap;
  /* [7] */
  padding: 5px 6.67px;
}
.Btn, .PriceTable__Btn, .Btn:hover, .PriceTable__Btn:hover, .Btn:active, .PriceTable__Btn:active, .Btn:visited, .PriceTable__Btn:visited, .Btn:focus, .PriceTable__Btn:focus {
  text-decoration: none;
  /* [4] */
}

/**
 * Def List contains key-value pairs
 */
.DefList:after {
  content: "";
  display: table;
  clear: both;
}

.DefList__Title {
  float: left;
  clear: left;
}

/**
 * Flag
 *
 * @link Idea and code come from Harry Roberts (http://csswizardry.com/2013/05/the-flag-object/)
 */
.Flag {
  display: table;
}

.Flag__Img,
.Flag__Body {
  display: table-cell;
  vertical-align: middle;
}
.Flag--Top .Flag__Img, .Flag--Top
.Flag__Body {
  vertical-align: top;
}
.Flag--Bottom .Flag__Img, .Flag--Bottom
.Flag__Body {
  vertical-align: bottom;
}

.Flag__Img {
  padding-right: 6px;
}
.Flag__Img > img {
  display: block;
  max-width: none;
}
.Flag--Rev .Flag__Img {
  padding-right: 0;
  padding-left: 6px;
}

.Flag__Body {
  width: 100%;
}

/**
 * Vertical collapsing form
 */
.Form--vCollapse .TextInput,
.Form--vCollapse .Btn,
.Form--vCollapse .PriceTable__Btn {
  width: 100%;
  margin-bottom: 0;
}

/**
 * Horizontal collapsing form
 */
.Form--hCollapse .TextInput {
  width: 100%;
}
.Form--hCollapse .Btn, .Form--hCollapse .PriceTable__Btn {
  float: right;
}

.Form__Collapser {
  overflow: hidden;
}

/**
 * Base.Object.Grid
 *
 * @link The idea of margin/padding on the grid columns comes from
 *       Harry Roberts (http://csswizardry.com/2013/02/introducing-csswizardry-grids/)
 */
/**
 * Loop through all breakpoints and generate content
 */
/**
 * Declare widths and offsets here for further use
 */
.row {
  margin-left: -12px;
}

.col,
.cols {
  padding-left: 12px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.row--centered {
  text-align: center;
}
.row--centered .col,
.row--centered .cols {
  text-align: left;
}

.row--collapsed {
  margin-left: 0;
}
.row--collapsed .col,
.row--collapsed .cols {
  padding-left: 0;
}

.row--padded {
  padding: 12px;
}

.row--hPadded {
  padding-right: 12px;
  padding-left: 12px;
}

.row--vPadded {
  padding-top: 12px;
  padding-bottom: 12px;
}

.row--mAlign .col,
.row--mAlign .cols {
  vertical-align: middle;
}

.row--bAlign .col,
.row--bAlign .cols {
  vertical-align: bottom;
}

/**
 * Column widths
 */
.init-1 {
  width: 8.33%;
}

.init-2 {
  width: 16.67%;
}

.init-3 {
  width: 25%;
}

.init-4 {
  width: 33.33%;
}

.init-5 {
  width: 41.67%;
}

.init-6 {
  width: 50%;
}

.init-7 {
  width: 58.33%;
}

.init-8 {
  width: 66.67%;
}

.init-9 {
  width: 75%;
}

.init-10 {
  width: 83.33%;
}

.init-11 {
  width: 91.67%;
}

.init-12 {
  width: 100%;
}

/**
 * Offset widths
 *
 * For less loops: use some integer instead of $base-grid-columns;
 */
.init-offset-0 {
  margin-left: 0%;
}

.init-offset-1 {
  margin-left: 8.33%;
}

.init-offset-2 {
  margin-left: 16.67%;
}

@media (min-width: 28em) {
  /**
   * Column widths
   */
  .x-small-1 {
    width: 8.33%;
  }

  .x-small-2 {
    width: 16.67%;
  }

  .x-small-3 {
    width: 25%;
  }

  .x-small-4 {
    width: 33.33%;
  }

  .x-small-5 {
    width: 41.67%;
  }

  .x-small-6 {
    width: 50%;
  }

  .x-small-7 {
    width: 58.33%;
  }

  .x-small-8 {
    width: 66.67%;
  }

  .x-small-9 {
    width: 75%;
  }

  .x-small-10 {
    width: 83.33%;
  }

  .x-small-11 {
    width: 91.67%;
  }

  .x-small-12 {
    width: 100%;
  }

  /**
   * Offset widths
   *
   * For less loops: use some integer instead of $base-grid-columns;
   */
  .x-small-offset-0 {
    margin-left: 0%;
  }

  .x-small-offset-1 {
    margin-left: 8.33%;
  }

  .x-small-offset-2 {
    margin-left: 16.67%;
  }
}
@media (min-width: 33em) {
  /**
   * Column widths
   */
  .small-1 {
    width: 8.33%;
  }

  .small-2 {
    width: 16.67%;
  }

  .small-3 {
    width: 25%;
  }

  .small-4 {
    width: 33.33%;
  }

  .small-5 {
    width: 41.67%;
  }

  .small-6 {
    width: 50%;
  }

  .small-7 {
    width: 58.33%;
  }

  .small-8 {
    width: 66.67%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.33%;
  }

  .small-11 {
    width: 91.67%;
  }

  .small-12 {
    width: 100%;
  }

  /**
   * Offset widths
   *
   * For less loops: use some integer instead of $base-grid-columns;
   */
  .small-offset-0 {
    margin-left: 0%;
  }

  .small-offset-1 {
    margin-left: 8.33%;
  }

  .small-offset-2 {
    margin-left: 16.67%;
  }
}
@media (min-width: 55em) {
  /**
   * Column widths
   */
  .medium-1 {
    width: 8.33%;
  }

  .medium-2 {
    width: 16.67%;
  }

  .medium-3 {
    width: 25%;
  }

  .medium-4 {
    width: 33.33%;
  }

  .medium-5 {
    width: 41.67%;
  }

  .medium-6 {
    width: 50%;
  }

  .medium-7 {
    width: 58.33%;
  }

  .medium-8 {
    width: 66.67%;
  }

  .medium-9 {
    width: 75%;
  }

  .medium-10 {
    width: 83.33%;
  }

  .medium-11 {
    width: 91.67%;
  }

  .medium-12 {
    width: 100%;
  }

  /**
   * Offset widths
   *
   * For less loops: use some integer instead of $base-grid-columns;
   */
  .medium-offset-0 {
    margin-left: 0%;
  }

  .medium-offset-1 {
    margin-left: 8.33%;
  }

  .medium-offset-2 {
    margin-left: 16.67%;
  }
}
@media (min-width: 66em) {
  /**
   * Column widths
   */
  .large-1 {
    width: 8.33%;
  }

  .large-2 {
    width: 16.67%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.33%;
  }

  .large-5 {
    width: 41.67%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33%;
  }

  .large-8 {
    width: 66.67%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.33%;
  }

  .large-11 {
    width: 91.67%;
  }

  .large-12 {
    width: 100%;
  }

  /**
   * Offset widths
   *
   * For less loops: use some integer instead of $base-grid-columns;
   */
  .large-offset-0 {
    margin-left: 0%;
  }

  .large-offset-1 {
    margin-left: 8.33%;
  }

  .large-offset-2 {
    margin-left: 16.67%;
  }
}
@media (min-width: 80em) {
  /**
   * Column widths
   */
  .x-large-1 {
    width: 8.33%;
  }

  .x-large-2 {
    width: 16.67%;
  }

  .x-large-3 {
    width: 25%;
  }

  .x-large-4 {
    width: 33.33%;
  }

  .x-large-5 {
    width: 41.67%;
  }

  .x-large-6 {
    width: 50%;
  }

  .x-large-7 {
    width: 58.33%;
  }

  .x-large-8 {
    width: 66.67%;
  }

  .x-large-9 {
    width: 75%;
  }

  .x-large-10 {
    width: 83.33%;
  }

  .x-large-11 {
    width: 91.67%;
  }

  .x-large-12 {
    width: 100%;
  }

  /**
   * Offset widths
   *
   * For less loops: use some integer instead of $base-grid-columns;
   */
  .x-large-offset-0 {
    margin-left: 0%;
  }

  .x-large-offset-1 {
    margin-left: 8.33%;
  }

  .x-large-offset-2 {
    margin-left: 16.67%;
  }
}
@media (min-width: 96em) {
  /**
   * Column widths
   */
  .xx-large-1 {
    width: 8.33%;
  }

  .xx-large-2 {
    width: 16.67%;
  }

  .xx-large-3 {
    width: 25%;
  }

  .xx-large-4 {
    width: 33.33%;
  }

  .xx-large-5 {
    width: 41.67%;
  }

  .xx-large-6 {
    width: 50%;
  }

  .xx-large-7 {
    width: 58.33%;
  }

  .xx-large-8 {
    width: 66.67%;
  }

  .xx-large-9 {
    width: 75%;
  }

  .xx-large-10 {
    width: 83.33%;
  }

  .xx-large-11 {
    width: 91.67%;
  }

  .xx-large-12 {
    width: 100%;
  }

  /**
   * Offset widths
   *
   * For less loops: use some integer instead of $base-grid-columns;
   */
  .xx-large-offset-0 {
    margin-left: 0%;
  }

  .xx-large-offset-1 {
    margin-left: 8.33%;
  }

  .xx-large-offset-2 {
    margin-left: 16.67%;
  }
}
@media (min-width: 130em) {
  /**
   * Column widths
   */
  .xxx-large-1 {
    width: 8.33%;
  }

  .xxx-large-2 {
    width: 16.67%;
  }

  .xxx-large-3 {
    width: 25%;
  }

  .xxx-large-4 {
    width: 33.33%;
  }

  .xxx-large-5 {
    width: 41.67%;
  }

  .xxx-large-6 {
    width: 50%;
  }

  .xxx-large-7 {
    width: 58.33%;
  }

  .xxx-large-8 {
    width: 66.67%;
  }

  .xxx-large-9 {
    width: 75%;
  }

  .xxx-large-10 {
    width: 83.33%;
  }

  .xxx-large-11 {
    width: 91.67%;
  }

  .xxx-large-12 {
    width: 100%;
  }

  /**
   * Offset widths
   *
   * For less loops: use some integer instead of $base-grid-columns;
   */
  .xxx-large-offset-0 {
    margin-left: 0%;
  }

  .xxx-large-offset-1 {
    margin-left: 8.33%;
  }

  .xxx-large-offset-2 {
    margin-left: 16.67%;
  }
}
/**
 * Base.Object.IconList
 *
 * 1. Override Icon, which is set to inline-block;
 */
.IconList {
  margin-bottom: 12px;
  padding-left: 24px;
}
.IconList > li {
  display: list-item;
  /* [1] */
}
.IconList > li:before {
  margin-left: -24px;
  margin-right: 12px;
}

/**
 * Base.Object.Icon
 */
/**
 * Hidden div in the DOM to preload the sprite image
 */
.Icon__Preload {
  display: none;
}

.Icon:before, .IconList > li:before, .Modal__Close:before, .CheckInput + label:before, .RadioInput + label:before {
  content: "";
  display: inline-block;
  background: url("../img/dwd-sprite.min.svg") no-repeat 0 0 transparent;
  -webkit-background-size: 1224px 192px;
  background-size: 1224px 192px;
  width: 12px;
  padding-bottom: 12px;
}

/**
 * Island
 *
 * Makes content appear as a boxed-off standalone element.
 *
 * @link The Island object comes from InuitCSS (https://github.com/csswizardry/inuit.css/blob/master/objects/_island.scss)
 */
.Island {
  margin-bottom: 12px;
  display: block;
}
.Island:after {
  content: "";
  display: table;
  clear: both;
}
.Island > :last-child {
  margin-bottom: 0;
}

/**
 * Base.Object.Label
 *
 * 1. Reset font-styles for use in headings.
 */
.Label {
  display: inline-block;
  padding: 3px 6px;
  font-style: normal;
  font-weight: 400;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  /* [1] */
  font-size: small;
  font-size: 1rem;
  /* [1] */
  background-color: #aaaaaa;
}

/**
 * Matrix
 *
 * 1. Let images and links take up all available space.
 */
.Matrix {
  margin-left: 0;
  list-style: none;
}
.Matrix > li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.Matrix img {
  width: 100%;
  /* [1] */
}
.Matrix a {
  display: block;
  /* [1] */
  height: 100%;
  /* [1] */
}

/**
 * Two column matrix
 */
.Matrix--Double > li {
  width: 50%;
}

/**
 * Three column matrix
 */
.Matrix--Triple > li {
  width: 50%;
}
@media (min-width: 33em) {
  .Matrix--Triple > li {
    width: 33.3333%;
  }
}

/**
 * Four column matrix
 */
.Matrix--Quadruple > li {
  width: 50%;
}
@media (min-width: 33em) {
  .Matrix--Quadruple > li {
    width: 25%;
  }
}

/**
 * Media
 *
 * @link The Media Object originally came from Nicole Sullivan. This
 *       an adapted version (http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/)
 */
.Media {
  display: block;
}
.Media:after {
  content: "";
  display: table;
  clear: both;
}

.Media__Img {
  float: left;
  margin-right: 12px;
}
.Media__Img > img {
  display: block;
}

.Media__Body {
  overflow: hidden;
}
.Media__Body,
.Media__Body > :last-child {
  margin-bottom: 0;
}

/**
 * Reversed media object
 */
.Media--Rev > .Media__Img {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}

/**
 * Base.Object.Meter
 */
.Meter {
  display: inline-block;
  width: 100%;
}

/**
 * 1. Width will be set via inline-style as this is very specific
 *    for each meter element.
 */
.Meter__Value {
  padding-bottom: 8px;
  background-color: #aaaaaa;
  /* width: auto; [1] */
}

/**
 * Base.Object.Modal
 *
 * 1. Center on large viewports
 */
.Modal {
  position: fixed;
  top: 12px;
  right: 12px;
  left: 12px;
  margin: 0 auto;
  /* [1] */
  z-index: 99998;
}

.Modal,
.Modal__Backdrop {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.Modal--Active,
.Modal__Backdrop--Active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.Modal__Backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99997;
  cursor: pointer;
}

.Modal__Body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.Modal__Body > :last-child {
  margin-bottom: 0;
}

.Modal__Close {
  position: absolute;
  top: 0px;
  right: 0px;
}

/**
 * Nav
 *
 * @link The Nav Object comes from InuitCSS (https://github.com/csswizardry/inuit.css/blob/master/objects/_nav.scss)
 */
.Nav, .Breadcrumb, .Pagination, .ProgressNav, .Tabs__Nav {
  margin-left: 0;
  list-style: none;
}
.Nav > li, .Breadcrumb > li, .Pagination > li, .ProgressNav > li, .Tabs__Nav > li,
.Nav a,
.Breadcrumb a,
.Pagination a,
.ProgressNav a,
.Tabs__Nav a {
  display: inline-block;
}

/**
 * Stacked nav
 */
.Nav--Stacked > li {
  display: list-item;
}

/**
 * Banner nav
 */
.Nav--Banner, .ProgressNav, .Tabs__Nav {
  text-align: center;
}

/**
 * Full width fitting nav
 */
.Nav--Stretch, .ProgressNav, .Tabs__Nav {
  display: table;
  width: 100%;
}
.Nav--Stretch > li, .ProgressNav > li, .Tabs__Nav > li {
  display: table-cell;
}
.Nav--Stretch a, .ProgressNav a, .Tabs__Nav a {
  display: block;
}

/**
 * Base.Object.Overlay
 */
.HasOverlay, .Balloon, .HasRibbon, body, .PageHead__Cart {
  position: relative;
}

.Overlay, .PageHead__Cart:before {
  position: absolute;
  z-index: 0;
}

/**
 * Split
 *
 * @link The split Object comes from InuitCSS (https://github.com/csswizardry/inuit.css/blob/master/objects/_split.scss)
 *
 * @example
 * ````
 * %dl.Split
 *   %dt.Split__title McNuggets
 *   %dd Ôé¼2,99
 *   %dt.Split__title McFlurry
 *   %dd Ôé¼2,35
 * ````
 *
 * 1. For use in inline elements.
 */
.Split {
  display: block;
  /* [1] */
  text-align: right;
  margin-left: 0;
}
.Split:after {
  content: "";
  display: table;
  clear: both;
}

.Split__Title {
  text-align: left;
  float: left;
  clear: left;
}

/**
 * Switch
 */
.Switch {
  display: inline-block;
}

.Switch__Option {
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.Switch__Toggle {
  display: inline-block;
  cursor: pointer;
}

/**
 * UI-List
 */
.UiList {
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.UiList > li {
  margin-bottom: 6px;
  padding-bottom: 6px;
}

.UiList--Padded > li {
  padding-top: 24px;
  padding-bottom: 24px;
}

/**
 * Visibility helpers
 */
.hide-for-x-small-up {
  display: inline-block !important;
}
.hide-for-x-small-up.Nav--Stretch, .hide-for-x-small-up.ProgressNav, .hide-for-x-small-up.Tabs__Nav {
  display: table !important;
}
.hide-for-x-small-up.Nav--Stretch > li, .hide-for-x-small-up.ProgressNav > li, .hide-for-x-small-up.Tabs__Nav > li {
  display: table-cell !important;
}
@media (min-width: 28em) {
  .hide-for-x-small-up {
    display: none !important;
  }
}

.hide-for-small-up {
  display: inline-block !important;
}
.hide-for-small-up.Nav--Stretch, .hide-for-small-up.ProgressNav, .hide-for-small-up.Tabs__Nav {
  display: table !important;
}
.hide-for-small-up.Nav--Stretch > li, .hide-for-small-up.ProgressNav > li, .hide-for-small-up.Tabs__Nav > li {
  display: table-cell !important;
}
@media (min-width: 33em) {
  .hide-for-small-up {
    display: none !important;
  }
}

.hide-for-medium-up {
  display: inline-block !important;
}
.hide-for-medium-up.Nav--Stretch, .hide-for-medium-up.ProgressNav, .hide-for-medium-up.Tabs__Nav {
  display: table !important;
}
.hide-for-medium-up.Nav--Stretch > li, .hide-for-medium-up.ProgressNav > li, .hide-for-medium-up.Tabs__Nav > li {
  display: table-cell !important;
}
@media (min-width: 55em) {
  .hide-for-medium-up {
    display: none !important;
  }
}

.hide-for-large-up {
  display: inline-block !important;
}
.hide-for-large-up.Nav--Stretch, .hide-for-large-up.ProgressNav, .hide-for-large-up.Tabs__Nav {
  display: table !important;
}
.hide-for-large-up.Nav--Stretch > li, .hide-for-large-up.ProgressNav > li, .hide-for-large-up.Tabs__Nav > li {
  display: table-cell !important;
}
@media (min-width: 66em) {
  .hide-for-large-up {
    display: none !important;
  }
}

.hide-for-x-large-up {
  display: inline-block !important;
}
.hide-for-x-large-up.Nav--Stretch, .hide-for-x-large-up.ProgressNav, .hide-for-x-large-up.Tabs__Nav {
  display: table !important;
}
.hide-for-x-large-up.Nav--Stretch > li, .hide-for-x-large-up.ProgressNav > li, .hide-for-x-large-up.Tabs__Nav > li {
  display: table-cell !important;
}
@media (min-width: 80em) {
  .hide-for-x-large-up {
    display: none !important;
  }
}

.hide-for-xx-large-up {
  display: inline-block !important;
}
.hide-for-xx-large-up.Nav--Stretch, .hide-for-xx-large-up.ProgressNav, .hide-for-xx-large-up.Tabs__Nav {
  display: table !important;
}
.hide-for-xx-large-up.Nav--Stretch > li, .hide-for-xx-large-up.ProgressNav > li, .hide-for-xx-large-up.Tabs__Nav > li {
  display: table-cell !important;
}
@media (min-width: 96em) {
  .hide-for-xx-large-up {
    display: none !important;
  }
}

.hide-for-xxx-large-up {
  display: inline-block !important;
}
.hide-for-xxx-large-up.Nav--Stretch, .hide-for-xxx-large-up.ProgressNav, .hide-for-xxx-large-up.Tabs__Nav {
  display: table !important;
}
.hide-for-xxx-large-up.Nav--Stretch > li, .hide-for-xxx-large-up.ProgressNav > li, .hide-for-xxx-large-up.Tabs__Nav > li {
  display: table-cell !important;
}
@media (min-width: 130em) {
  .hide-for-xxx-large-up {
    display: none !important;
  }
}

.show-for-x-small-up {
  display: none !important;
}
@media (min-width: 28em) {
  .show-for-x-small-up {
    display: inline-block !important;
  }
  .show-for-x-small-up.Nav--Stretch, .show-for-x-small-up.ProgressNav, .show-for-x-small-up.Tabs__Nav {
    display: table !important;
  }
  .show-for-x-small-up.Nav--Stretch > li, .show-for-x-small-up.ProgressNav > li, .show-for-x-small-up.Tabs__Nav > li {
    display: table-cell !important;
  }
}

.show-for-small-up {
  display: none !important;
}
@media (min-width: 33em) {
  .show-for-small-up {
    display: inline-block !important;
  }
  .show-for-small-up.Nav--Stretch, .show-for-small-up.ProgressNav, .show-for-small-up.Tabs__Nav {
    display: table !important;
  }
  .show-for-small-up.Nav--Stretch > li, .show-for-small-up.ProgressNav > li, .show-for-small-up.Tabs__Nav > li {
    display: table-cell !important;
  }
}

.show-for-medium-up {
  display: none !important;
}
@media (min-width: 55em) {
  .show-for-medium-up {
    display: inline-block !important;
  }
  .show-for-medium-up.Nav--Stretch, .show-for-medium-up.ProgressNav, .show-for-medium-up.Tabs__Nav {
    display: table !important;
  }
  .show-for-medium-up.Nav--Stretch > li, .show-for-medium-up.ProgressNav > li, .show-for-medium-up.Tabs__Nav > li {
    display: table-cell !important;
  }
}

.show-for-large-up {
  display: none !important;
}
@media (min-width: 66em) {
  .show-for-large-up {
    display: inline-block !important;
  }
  .show-for-large-up.Nav--Stretch, .show-for-large-up.ProgressNav, .show-for-large-up.Tabs__Nav {
    display: table !important;
  }
  .show-for-large-up.Nav--Stretch > li, .show-for-large-up.ProgressNav > li, .show-for-large-up.Tabs__Nav > li {
    display: table-cell !important;
  }
}

.show-for-x-large-up {
  display: none !important;
}
@media (min-width: 80em) {
  .show-for-x-large-up {
    display: inline-block !important;
  }
  .show-for-x-large-up.Nav--Stretch, .show-for-x-large-up.ProgressNav, .show-for-x-large-up.Tabs__Nav {
    display: table !important;
  }
  .show-for-x-large-up.Nav--Stretch > li, .show-for-x-large-up.ProgressNav > li, .show-for-x-large-up.Tabs__Nav > li {
    display: table-cell !important;
  }
}

.show-for-xx-large-up {
  display: none !important;
}
@media (min-width: 96em) {
  .show-for-xx-large-up {
    display: inline-block !important;
  }
  .show-for-xx-large-up.Nav--Stretch, .show-for-xx-large-up.ProgressNav, .show-for-xx-large-up.Tabs__Nav {
    display: table !important;
  }
  .show-for-xx-large-up.Nav--Stretch > li, .show-for-xx-large-up.ProgressNav > li, .show-for-xx-large-up.Tabs__Nav > li {
    display: table-cell !important;
  }
}

.show-for-xxx-large-up {
  display: none !important;
}
@media (min-width: 130em) {
  .show-for-xxx-large-up {
    display: inline-block !important;
  }
  .show-for-xxx-large-up.Nav--Stretch, .show-for-xxx-large-up.ProgressNav, .show-for-xxx-large-up.Tabs__Nav {
    display: table !important;
  }
  .show-for-xxx-large-up.Nav--Stretch > li, .show-for-xxx-large-up.ProgressNav > li, .show-for-xxx-large-up.Tabs__Nav > li {
    display: table-cell !important;
  }
}

/**
 * Import Drukwerkdeal UI layer
 *
 * 1. Objects that extend and/or partially override Base Objects.
 * 2. Ui-Objects: objects not fit to write abstractions for in the PPG layer,
 *    but generally reusable components for the website.
 * 3. Global UI components, generally larger, more abstract than objects.
 */
/**
 * UI.Object.Balloon
 *
 * 1. Order box-shadows to overlay color over balloon tip 'border'.
 */
.Balloon {
  float: right;
  margin-bottom: -24px;
  padding: 6px 12px;
  border: 0.13em solid white;
  background-color: #fddb00;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fddb00), color-stop(100%, #e5be00));
  background-image: -webkit-linear-gradient(#fddb00, #e5be00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb00), to(#e5be00));
  background-image: linear-gradient(#fddb00, #e5be00);
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 0.13em 12px rgba(25, 25, 25, 0.25);
  box-shadow: 0 0.13em 12px rgba(25, 25, 25, 0.25);
  font-family: "stag-sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  font-size: large;
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
}
.Balloon:before {
  position: absolute;
  right: 35px;
  top: 100%;
  z-index: 99994;
  border-right: 0.13em solid white;
  height: 18px;
}
.Balloon:after {
  position: absolute;
  right: 24px;
  bottom: -12px;
  z-index: 99993;
  border-width: 12px;
  border-right-color: #e5be00;
  -webkit-box-shadow: 0 -0.13em 0 #e5be00, 0.13em 0 0 white;
  box-shadow: 0 -0.13em 0 #e5be00, 0.13em 0 0 white;
  /* [1] */
}

.Balloon__Amount {
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.125em;
}

.Balloon__Vat {
  font-size: 0.675em;
}

/**
 * UI.Object.BlockList
 */
.BlockList,
.BlockList > li {
  border-color: #ebebeb;
}
.BlockList li > a,
.BlockList li > .RadioInput + label {
  display: block;
  padding: 0.5em;
}

.BlockList--Double {
  text-align: justify;
}
.BlockList--Double:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.BlockList--Double > li {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
  text-align: left;
}

/**
 * UI.Object.Breadcrumb
 */
.Breadcrumb,
.Breadcrumb a:after {
  color: #585858;
}
.Breadcrumb a {
  color: #00aaee;
}

/**
 * UI.Object.Button
 *
 * 1. Apply glow effect
 */
.Btn, .PriceTable__Btn {
  background-color: #ff7600;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7600), color-stop(100%, #f06f00));
  background-image: -webkit-linear-gradient(#ff7600, #f06f00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7600), to(#f06f00));
  background-image: linear-gradient(#ff7600, #f06f00);
  -webkit-box-shadow: inset 0 0.25em 0.25em -0.25em white;
  box-shadow: inset 0 0.25em 0.25em -0.25em white;
  /* [1] */
  border: 1px solid #f06f00;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  color: white;
  font-size: 1.2em;
  font-family: 'stag-sans', Lucida, sans-serif;
  font-weight: 300;
}
.Btn:hover, .PriceTable__Btn:hover {
  background: #f06f00;
}
.Btn .Icon, .PriceTable__Btn .Icon, .Btn .IconList > li, .PriceTable__Btn .IconList > li, .Btn .Modal__Close, .PriceTable__Btn .Modal__Close, .Btn .CheckInput + label, .PriceTable__Btn .CheckInput + label, .Btn .RadioInput + label, .PriceTable__Btn .RadioInput + label,
.Btn .Icon:before,
.PriceTable__Btn .Icon:before,
.Btn .IconList > li:before,
.PriceTable__Btn .IconList > li:before,
.Btn .Modal__Close:before,
.PriceTable__Btn .Modal__Close:before,
.Btn .CheckInput + label:before,
.PriceTable__Btn .CheckInput + label:before,
.Btn .RadioInput + label:before,
.PriceTable__Btn .RadioInput + label:before {
  vertical-align: middle;
}

/**
 * Alternate button
 */
.Btn--Alt, .PriceTable__Btn {
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #d7d7d7));
  background-image: -webkit-linear-gradient(#f1f1f1, #d7d7d7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#d7d7d7));
  background-image: linear-gradient(#f1f1f1, #d7d7d7);
  -webkit-box-shadow: 0 0.06em 0.13em 0 #f1f1f1;
  box-shadow: 0 0.06em 0.13em 0 #f1f1f1;
  /* [2] */
  color: #585858;
  border-color: #aaaaaa;
}
.Btn--Alt:hover, .PriceTable__Btn:hover {
  background: #d7d7d7;
}

/**
 * Call to action button
 *
 * 1. Undo default glow effect.
 */
.Btn--Cta {
  border-color: #008cc9;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* [1] */
}
.Btn--Cta, .Btn--Cta:hover {
  background-color: #00aaee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00aaee), color-stop(100%, #008cc9));
  background-image: -webkit-linear-gradient(#00aaee, #008cc9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00aaee), to(#008cc9));
  background-image: linear-gradient(#00aaee, #008cc9);
}

/**
 * Expand section Button differs slightly from normal buttons, so requires
 * some more configuration.
 */
.Btn--ExpandSection {
  background: white;
  color: #aaaaaa;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #aaaaaa;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: 0 6px;
  font-size: small;
  font-size: 1rem;
}
.Btn--ExpandSection:hover {
  background: #f1f1f1;
}

/**
 * Disabled button
 */
.Btn--Disabled,
.Btn:disabled,
.PriceTable__Btn:disabled {
  background: #f1f1f1;
  color: #aaaaaa;
  border-color: #d7d7d7;
  cursor: not-allowed;
  pointer-events: none;
}

/**
 * Large button
 */
.Btn--Large {
  padding: 8px 12px;
}

/**
 * Small button
 */
.Btn--Small {
  font-size: medium;
  font-size: 1rem;
}

/**
 * Full button
 */
.Btn--Full {
  width: 100%;
}

/**
 * UI.Object.DefList
 */
.DefList__Title {
  margin-right: 4px;
}

/**
 * UI.Object.FormCollapse
 */
.Form--vCollapse .TextInput {
  border-bottom-width: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.Form--vCollapse .Btn, .Form--vCollapse .PriceTable__Btn {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.Form--hCollapse .TextInput {
  border-right: 0;
  padding-right: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.Form--hCollapse .Btn, .Form--hCollapse .PriceTable__Btn {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/**
 * UI.Object.Icon
 */
.Icon--Small:before {
  width: 9px;
  padding-bottom: 9px;
  -webkit-background-size: 918px 144px;
  background-size: 918px 144px;
}

.Icon--Large:before, .CheckInput + label:before, .RadioInput + label:before {
  width: 16px;
  padding-bottom: 16px;
  -webkit-background-size: 1632.0px 256.0px;
  background-size: 1632.0px 256.0px;
}

.Icon--XLarge:before {
  width: 24px;
  padding-bottom: 24px;
  -webkit-background-size: 2448px 384px;
  background-size: 2448px 384px;
}

.Icon--XXLarge:before {
  width: 36px;
  padding-bottom: 36px;
  -webkit-background-size: 3672px 576px;
  background-size: 3672px 576px;
}

/**
 * Base icons
 * 
 * Black:  0;
 * Gray:   1;
 * Orange: 2;
 * Blue:   3;
 * Green:  4;
 * White:  5;
 * Alt:    6;
 *
 * @note Until there's a spec or at least proper support for background-position-y
 *       we have to use adjecent classes for different colors. Otherwise we can do:
 *
 *       .gray {
 *          background-position-y: (-1 * $base-icon-size);
 *       }
 *       .orange {
 *          background-position-y: (-2 * $base-icon-size);
 *       }
 *       etc.
 */
.Icon--Search:before {
  background-position: 0% 0%;
}

.Icon--Search.white:before {
  background-position: 0% 33.33%;
}

.Icon--Info:before {
  background-position: 0.99% 0%;
}

.Icon--Info.gray:before {
  background-position: 0.99% 6.67%;
}

.Icon--Info.orange:before {
  background-position: 0.99% 13.33%;
}

.Icon--Info.blue:before {
  background-position: 0.99% 20%;
}

.Icon--Info.white:before {
  background-position: 0.99% 33.33%;
}

.Icon--Info.alt:before {
  background-position: 0.99% 40%;
}

.Icon--Question:before {
  background-position: 1.98% 0%;
}

.Icon--Cross:before, .Modal__Close:before {
  background-position: 2.97% 0%;
}

.Icon--Eye:before {
  background-position: 3.96% 0%;
}

.Icon--Eye.orange:before {
  background-position: 3.96% 13.33%;
}

.Icon--Question:before {
  background-position: 4.95% 0%;
}

.Icon--Crosshair:before {
  background-position: 5.94% 0%;
}

.Icon--TriangleDown:before {
  background-position: 6.93% 0%;
}

.Icon--TriangleDown.gray:before {
  background-position: 6.93% 6.67%;
}

.Icon--TriangleDown.orange:before {
  background-position: 6.93% 13.33%;
}

.Icon--TriangleRight:before {
  background-position: 7.92% 0%;
}

.Icon--TriangleRight.gray:before {
  background-position: 7.92% 6.67%;
}

.Icon--TriangleRight.orange:before {
  background-position: 7.92% 13.33%;
}

.Icon--ArrowRight:before {
  background-position: 8.91% 0%;
}

.Icon--ArrowRight.gray:before {
  background-position: 8.91% 6.67%;
}

.Icon--ArrowRight.orange:before {
  background-position: 8.91% 13.33%;
}

.Icon--ArrowRight.white:before {
  background-position: 8.91% 33.33%;
}

.Icon--Bars:before {
  background-position: 9.9% 0%;
}

.Icon--Bars.white:before {
  background-position: 9.9% 33.33%;
}

.Icon--ExternalLink:before {
  background-position: 10.89% 0%;
}

.Icon--Lock:before {
  background-position: 11.88% 0%;
}

.Icon--Download:before {
  background-position: 12.87% 0%;
}

.Icon--Upload:before {
  background-position: 13.86% 0%;
}

.Icon--Upload.gray:before {
  background-position: 13.86% 6.67%;
}

.Icon--Upload.white:before {
  background-position: 13.86% 33.33%;
}

.Icon--Bullhorn:before {
  background-position: 14.85% 0%;
}

.Icon--Check:before {
  background-position: 15.84% 0%;
}

.Icon--Check.blue:before {
  background-position: 15.84% 20%;
}

.Icon--Check.green:before {
  background-position: 15.84% 26.67%;
}

.Icon--CheckCircle:before {
  background-position: 16.83% 0%;
}

.Icon--ChevronDown:before {
  background-position: 17.82% 0%;
}

.Icon--ChevronDown.gray:before {
  background-position: 17.82% 6.67%;
}

.Icon--ChevronDown.orange:before {
  background-position: 17.82% 13.33%;
}

.Icon--ChevronDown.blue:before {
  background-position: 17.82% 20%;
}

.Icon--ChevronDown.white:before {
  background-position: 17.82% 33.33%;
}

.Icon--ChevronDownDouble:before {
  background-position: 18.81% 0%;
}

.Icon--ChevronDownDouble.blue:before {
  background-position: 18.81% 20%;
}

.Icon--ChevronDownDouble.white:before {
  background-position: 18.81% 33.33%;
}

.Icon--ChevronRight:before {
  background-position: 19.8% 0%;
}

.Icon--ChevronRight.gray:before {
  background-position: 19.8% 6.67%;
}

.Icon--ChevronRight.orange:before {
  background-position: 19.8% 13.33%;
}

.Icon--ChevronRight.blue:before {
  background-position: 19.8% 20%;
}

.Icon--ChevronRight.white:before {
  background-position: 19.8% 33.33%;
}

.Icon--Cross:before, .Modal__Close:before {
  background-position: 20.79% 0%;
}

.Icon--Cross.gray:before, .gray.Modal__Close:before {
  background-position: 20.79% 6.67%;
}

.Icon--Cross.orange:before, .orange.Modal__Close:before {
  background-position: 20.79% 13.33%;
}

.Icon--Cross.blue:before, .blue.Modal__Close:before {
  background-position: 20.79% 20%;
}

.Icon--Cross.white:before, .white.Modal__Close:before {
  background-position: 20.79% 33.33%;
}

.Icon--Person:before {
  background-position: 21.78% 0%;
}

.Icon--Person.orange:before {
  background-position: 21.78% 13.33%;
}

.Icon--Person.white:before {
  background-position: 21.78% 33.33%;
}

.Icon--PersonInfo:before {
  background-position: 22.77% 0%;
}

.Icon--PersonNew:before {
  background-position: 23.76% 0%;
}

.Icon--PersonAlert:before {
  background-position: 24.75% 0%;
}

.Icon--PersonsDialog:before {
  background-position: 25.74% 0%;
}

.Icon--PersonsDialog.orange:before {
  background-position: 25.74% 13.33%;
}

.Icon--PersonDialog:before {
  background-position: 26.73% 0%;
}

.Icon--PersonDialog.orange:before {
  background-position: 26.73% 13.33%;
}

.Icon--PersonDialog.white:before {
  background-position: 26.73% 33.33%;
}

.Icon--Heart:before {
  background-position: 27.72% 0%;
}

.Icon--Heart.white:before {
  background-position: 27.72% 33.33%;
}

.Icon--Book:before {
  background-position: 28.71% 0%;
}

.Icon--Envelope:before {
  background-position: 29.7% 0%;
}

.Icon--Cart:before {
  background-position: 30.69% 0%;
}

.Icon--Cart.gray:before {
  background-position: 30.69% 6.67%;
}

.Icon--Cart.white:before {
  background-position: 30.69% 33.33%;
}

.Icon--Cart.alt:before {
  background-position: 30.69% 40%;
}

.Icon--DocumentQuestion:before {
  background-position: 31.68% 0%;
}

.Icon--DocumentRefresh:before {
  background-position: 32.67% 0%;
}

.Icon--DocumentEuro:before {
  background-position: 33.66% 0%;
}

.Icon--Coin:before {
  background-position: 34.65% 0%;
}

.Icon--Clock:before {
  background-position: 35.64% 0%;
}

.Icon--Clock.orange:before {
  background-position: 35.64% 13.33%;
}

.Icon--EnvelopeAlert:before {
  background-position: 36.63% 0%;
}

.Icon--EnvelopeAlert.alt:before {
  background-position: 36.63% 40%;
}

.Icon--FileTransferDone:before {
  background-position: 37.62% 0%;
}

.Icon--Phone:before {
  background-position: 38.61% 0%;
}

.Icon--Phone.orange:before {
  background-position: 38.61% 13.33%;
}

.Icon--Phone.green:before {
  background-position: 38.61% 26.67%;
}

.Icon--Dialog:before {
  background-position: 39.6% 0%;
}

.Icon--Dialog.green:before {
  background-position: 39.6% 26.67%;
}

.Icon--Bill:before {
  background-position: 40.59% 0%;
}

.Icon--Payment:before {
  background-position: 41.58% 0%;
}

.Icon--Payment.gray:before {
  background-position: 41.58% 6.67%;
}

.Icon--Payment.white:before {
  background-position: 41.58% 33.33%;
}

.Icon--Delivery:before {
  background-position: 42.57% 0%;
}

.Icon--Delivery.gray:before {
  background-position: 42.57% 6.67%;
}

.Icon--Delivery.orange:before {
  background-position: 42.57% 13.33%;
}

.Icon--Delivery.white:before {
  background-position: 42.57% 33.33%;
}

.Icon--Box:before {
  background-position: 43.56% 0%;
}

.Icon--Box.gray:before {
  background-position: 43.56% 6.67%;
}

.Icon--Box.orange:before {
  background-position: 43.56% 13.33%;
}

.Icon--Box.white:before {
  background-position: 43.56% 33.33%;
}

.Icon--Factory:before {
  background-position: 44.55% 0%;
}

.Icon--Factory.orange:before {
  background-position: 44.55% 13.33%;
}

.Icon--Factory.gray:before {
  background-position: 44.55% 6.67%;
}

.Icon--Factory.white:before {
  background-position: 44.55% 33.33%;
}

.Icon--Rocket:before {
  background-position: 45.54% 0%;
}

.Icon--Rocket.gray:before {
  background-position: 45.54% 6.67%;
}

.Icon--Rocket.orange:before {
  background-position: 45.54% 13.33%;
}

.Icon--Rocket.white:before {
  background-position: 45.54% 33.33%;
}

.Icon--Trucks:before {
  background-position: 46.53% 0%;
}

.Icon--Trucks.gray:before {
  background-position: 46.53% 6.67%;
}

.Icon--Trucks.orange:before {
  background-position: 46.53% 13.33%;
}

.Icon--Trucks.white:before {
  background-position: 46.53% 33.33%;
}

.Icon--Star:before {
  background-position: 47.52% 0%;
}

.Icon--Star.white:before {
  background-position: 47.52% 6.67%;
}

.Icon--Euro:before {
  background-position: 48.51% 0%;
}

.Icon--Euro.white:before {
  background-position: 48.51% 6.67%;
}

.Icon--Thumb:before {
  background-position: 49.5% 0%;
}

.Icon--Thumb.white:before {
  background-position: 49.5% 6.67%;
}

.Icon--Bang:before {
  background-position: 50.5% 0%;
}

.Icon--Bang.white:before {
  background-position: 50.5% 6.67%;
}

.Icon--Leaf:before {
  background-position: 51.49% 0%;
}

.Icon--Leaf.white:before {
  background-position: 51.49% 6.67%;
}

.Icon--EuroTag:before {
  background-position: 52.48% 0%;
}

.Icon--Calculator:before {
  background-position: 52.48% 0%;
}

.Icon--Clapperboard:before {
  background-position: 54.46% 0%;
}

.Icon--DocumentNew:before {
  background-position: 56.44% 0%;
}

.Icon--DocumentNew.white:before {
  background-position: 56.44% 33.33%;
}

.Icon--Documents:before {
  background-position: 57.43% 0%;
}

.Icon--Documents.gray:before {
  background-position: 57.43% 6.67%;
}

.Icon--Documents.orange:before {
  background-position: 57.43% 13.33%;
}

.Icon--DocumentStar:before {
  background-position: 58.42% 0%;
}

.Icon--Document:before {
  background-position: 59.41% 0%;
}

.Icon--DocumentLandscape:before {
  background-position: 60.4% 0%;
}

.Icon--ZoomPan:before {
  background-position: 61.39% 0%;
}

.Icon--ZoomOut:before {
  background-position: 62.38% 0%;
}

.Icon--ZoomIn:before {
  background-position: 63.37% 0%;
}

.Icon--Target:before {
  background-position: 64.36% 0%;
}

.Icon--Refresh:before {
  background-position: 65.35% 0%;
}

.Icon--Brush:before {
  background-position: 66.34% 0%;
}

.Icon--Pencil:before {
  background-position: 67.33% 0%;
}

.Icon--Truck:before {
  background-position: 68.32% 0%;
}

.Icon--Truck.gray:before {
  background-position: 68.32% 6.67%;
}

.Icon--Truck.orange:before {
  background-position: 68.32% 13.33%;
}

.Icon--Truck.blue:before {
  background-position: 68.32% 20%;
}

.Icon--Train:before {
  background-position: 69.31% 0%;
}

.Icon--Train.gray:before {
  background-position: 69.31% 6.67%;
}

.Icon--Train.orange:before {
  background-position: 69.31% 13.33%;
}

.Icon--Train.blue:before {
  background-position: 69.31% 20%;
}

.Icon--Rocket:before {
  background-position: 70.3% 0%;
}

.Icon--Rocket.gray:before {
  background-position: 70.3% 6.67%;
}

.Icon--Rocket.orange:before {
  background-position: 70.3% 13.33%;
}

.Icon--Rocket.blue:before {
  background-position: 70.3% 20%;
}

.Icon--MapMarker:before {
  background-position: 71.29% 0%;
}

.Icon--MapMarker.gray:before {
  background-position: 71.29% 6.67%;
}

.Icon--MapMarker.orange:before {
  background-position: 71.29% 13.33%;
}

.Icon--MapMarker.blue:before {
  background-position: 71.29% 20%;
}

.Icon--MapMarkerHouse:before {
  background-position: 72.28% 0%;
}

.Icon--MapMarkerHouse.blue:before {
  background-position: 72.28% 20%;
}

/**
 * Social Media
 */
.Icon--Facebook:before {
  background-position: 83.17% 40%;
}

.Icon--Twitter:before {
  background-position: 84.16% 40%;
}

.Icon--Twitter.blue:before {
  background-position: 84.16% 20%;
}

.Icon--GooglePlus:before {
  background-position: 85.15% 40%;
}

.Icon--LinkedIn:before {
  background-position: 86.14% 40%;
}

.Icon--Pinterest:before {
  background-position: 87.13% 40%;
}

.Icon--Youtube:before {
  background-position: 88.12% 40%;
}

.Icon--RSS:before {
  background-position: 89.11% 40%;
}

.Icon--Vimeo:before {
  background-position: 90.1% 40%;
}

.Icon--Instagram:before {
  background-position: 91.09% 40%;
}

/**
 * Selector form elements
 */
.Icon--RadioChecked:before, .RadioInput:checked + label:before {
  background-position: 92.08% 40%;
}

.Icon--Radio:before, .RadioInput + label:before {
  background-position: 93.07% 40%;
}

.Icon--CheckboxChecked:before, .CheckInput:checked + label:before {
  background-position: 94.06% 40%;
}

.Icon--Checkbox:before, .CheckInput + label:before {
  background-position: 95.05% 40%;
}

/**
 * Miscellaneous
 *
 * Resizing the background here, to prevent super duper large logo's. Adjust the 
 * multiplier below to fit the designer's taste.
 */
.Icon--Mastercard:before,
.Icon--Visa:before,
.Icon--Ideal:before {
  -webkit-background-size: 918px 144px;
  background-size: 918px 144px;
  padding-bottom: 27px;
}

/**
 * 1. Slight deviations because of browser percentage rounding.
 */
.Icon--Ideal {
  /* [1] */
}
.Icon--Ideal:before {
  background-position: 21.78% 92.5%;
}
.Icon--Ideal:before {
  width: 31.5px;
}

.Icon--Visa:before {
  background-position: 27.23% 92.5%;
}
.Icon--Visa:before {
  width: 90px;
}

.Icon--Mastercard:before {
  background-position: 36.14% 92.5%;
}
.Icon--Mastercard:before {
  width: 45px;
}

.Icon--Homeshopping:before {
  background-position: 44.55% 93.33%;
}
.Icon--Homeshopping:before {
  width: 96px;
  padding-bottom: 20%;
}

/**
 * UI.Object.IconList
 */
/**
 * Has green checkmarks
 */
.IconList--Check > li:before {
  background-position: 15.84% 26.67%;
}

/**
 * Has blue chevrons.
 */
.IconList--Arrow > li:before {
  background-position: 19.8% 20%;
}

/**
 * UI.Object.Label
 *
 * 1. Reset font-styles for use in headings.
 */
.Label {
  background-color: #80ce00;
  color: white;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

.Label--Alt {
  background-color: #00aaee;
}

/**
 * UI.Object.Matrix
 *
 * 1. FIXME: create equal height columns
 *
 * This matrix assumes that it consists of the following structure:
 * 
 * <ol class="Matrix Matrix--Padded">
 *   <li>
 *     <a href="">
 *       ...
 *     </a>
 *   </li>
 * </ol>
 */
.Matrix li {
  border-color: #ebebeb;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  margin-left: -1px;
}
.Matrix li > a {
  display: block;
  text-decoration: none;
  padding: 12px;
  border-bottom: 3px solid transparent;
}
.Matrix li > a:hover {
  border-bottom-color: #ff7600;
}
.Matrix li > a > :last-child {
  margin-bottom: 0;
}
.Matrix img {
  margin-top: 12px;
}

.Matrix--Triple > li:nth-child(2n + 2),
.Matrix--Quadruple > li:nth-child(2n + 2) {
  border-right-width: 0;
}

.Matrix--Triple > li:nth-child(2n + 1),
.Matrix--Quadruple > li:nth-child(2n + 1) {
  border-left-width: 0;
}

@media (min-width: 33em) {
  .Matrix--Single > li,
  .Matrix--Double > li:nth-child(2n + 1),
  .Matrix--Triple > li:nth-child(3n + 1),
  .Matrix--Quadruple > li:nth-child(4n + 1) {
    border-left-width: 0;
  }
}

@media (min-width: 33em) {
  .Matrix--Triple > li:nth-child(2n + 2),
  .Matrix--Quadruple > li:nth-child(2n + 2) {
    border-right-width: 1px;
  }
}

@media (min-width: 33em) {
  .Matrix--Single > li,
  .Matrix--Double > li:nth-child(2n + 2),
  .Matrix--Triple > li:nth-child(3n + 3),
  .Matrix--Quadruple > li:nth-child(4n + 4) {
    border-right-width: 0;
  }
}

/**
 * UI.Object.Meter
 */
.Meter {
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: #ddeff2;
  border: 1px solid #00aaee;
}

/**
 * 1. Vertically striped background pattern.
 */
.Meter__Value {
  background-color: #00aaee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(96%, #00aaee), color-stop(1px, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(-360deg, #00aaee 96%, rgba(255, 255, 255, 0.5) 1px);
  background-image: -webkit-linear-gradient(0deg, #00aaee 96%, rgba(255, 255, 255, 0.5) 1px);
  background-image: linear-gradient(90deg,#00aaee 96%, rgba(255, 255, 255, 0.5) 1px);
  /* [1] */
  -webkit-background-size: 24px;
  background-size: 24px;
}

/**
 * UI.Object.Modal
 */
.Modal {
  top: 24px;
  padding: 24px;
  max-width: 1100px;
  background-color: white;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 0.13em 12px rgba(25, 25, 25, 0.25);
  box-shadow: 0 0.13em 12px rgba(25, 25, 25, 0.25);
  z-index: 99998;
}

.Modal,
.Modal__Backdrop {
  -webkit-transform: scale(0) translateY(-100%);
  -ms-transform: scale(0) translateY(-100%);
  transform: scale(0) translateY(-100%);
}

.Modal--Active,
.Modal__Backdrop--Active {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.Modal--Active {
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.25, 0.75, 0.25, 0.85) 150ms;
  transition: transform 150ms cubic-bezier(0.25, 0.75, 0.25, 0.85) 150ms;
}

.Modal__Backdrop {
  background-color: #191919;
  background-color: rgba(25, 25, 25, 0.5);
  z-index: 99997;
}

/**
 * 1. Max-height will be overridden with JS if necessary after a
 *    Modernizr check
 */
.Modal__Body {
  max-height: 80vh;
  /* [1] */
}

.Modal__Close {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  position: absolute;
  right: -12px;
  top: -12px;
  padding: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

/**
 * UI.Object.Nav
 */
.Nav--Banner a, .ProgressNav a, .Tabs__Nav a {
  padding-right: 0.25em;
  padding-left: 0.25em;
}

/**
 * UI.Object.Switch
 */
.Switch {
  background-color: #d7d7d7;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  overflow: hidden;
}

.Switch__Toggle {
  padding: 0.125em 0.375em;
  border: 1px solid #d7d7d7;
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #d7d7d7));
  background-image: -webkit-linear-gradient(#ebebeb, #d7d7d7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#d7d7d7));
  background-image: linear-gradient(#ebebeb, #d7d7d7);
}
.Switch__Option:checked + .Switch__Toggle {
  background: #80ce00;
  color: white;
  -webkit-box-shadow: inset 0 0 0.5em #66ad00;
  box-shadow: inset 0 0 0.5em #66ad00;
  border-color: #66ad00;
}

/**
 * UI.UI-Object.AccountDetails
 */
.AccountDetails__Amount {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 0.75;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.AccountDetails__Amount--Positive {
  color: #ff7600;
}

.AccountDetails__Amount--Negative {
  color: red;
}

/**
 * UI.UI-Object.Box
 */
.Box {
  padding: 12px;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #aaaaaa;
  margin-bottom: 12px;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

.Box--IsClosed {
  color: #aaaaaa;
  border-color: #d7d7d7;
}
.Box--IsClosed .Box__Body {
  display: none;
}

.Box--IsSelectable {
  border-width: 2px;
}

/**
 * 1. Calculated number: round(Math.sqrt(2));
 * 2. The 'arrow' is hidden until the box is hovered. By not setting the 
 *    content attribute we don't have to use a display: none.
 *
 * @TODO: Look at this example of a triangle shape with a border/shadow:
 *        http://seesparkbox.com/foundry/clean_up_your_shapes
 *        https://developer.mozilla.org/en-US/docs/Web/CSS/filter
 */
.Box--HasArrow {
  position: relative;
}
.Box--HasArrow:before {
  position: absolute;
  top: -0.5em;
  left: 50%;
  width: 2em;
  height: 2em;
  margin-left: -1.4em;
  /* [1] */
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-box-shadow: -2px -2px 0 #00aaee;
  box-shadow: -2px -2px 0 #00aaee;
}

.Box--IsSelectable:hover,
.Box--IsSelected {
  border-color: #00aaee;
}
.Box--IsSelectable:hover:before,
.Box--IsSelected:before {
  content: "";
  /* [2] */
}

/**
 * UI.UI-Object.Date
 */
.Date {
  position: absolute;
  top: 0;
  background-color: #585858;
  -webkit-border-bottom-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  -webkit-border-bottom-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  font: italic 700 1.25em/1 "doko", "stag-sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  font-size: large;
  font-size: 1.25rem;
  padding: 2px 8px;
  text-align: center;
  color: white;
}

.Date--Large {
  font-size: 1.5em;
}

.Date--Left {
  left: 12px;
}

.Date--Right {
  right: 12px;
}
@media (min-width: 33em) {
  .Date--Right {
    right: auto;
    left: 100%;
  }
}

.Date__Day,
.Date__Month,
.Date__Year {
  display: block;
}

.Date__Day {
  font-size: 1.5em;
}

/**
 * 1. Very font-specific. Change accordingly.
 */
.Date__Year {
  font-size: 0.875em;
  line-height: 1.5;
  /* [2] */
}

/**
 * UI.UI-Object.FocusList
 * 
 * 1. Hack to 'unfocus' a focussed element.
 */
.FocusList:hover > li {
  -webkit-box-shadow: none;
  box-shadow: none;
  /* [1] */
}
.FocusList > li {
  padding: 12px 24px;
}
.FocusList > li:hover {
  -webkit-box-shadow: 0 0 0.25em rgba(170, 170, 170, 0.9);
  box-shadow: 0 0 0.25em rgba(170, 170, 170, 0.9);
}

.FocusList__Item--IsFocussed {
  -webkit-box-shadow: 0 0 0.25em rgba(170, 170, 170, 0.9);
  box-shadow: 0 0 0.25em rgba(170, 170, 170, 0.9);
}

/**
 * UI.UI-Object.Notice
 */
.Notice {
  margin-bottom: 12px;
  background-color: #ebebeb;
  color: #585858;
  font-size: large;
  font-size: 1.13rem;
}
.Notice a {
  padding: 12px;
  display: block;
}

/**
 * 1. Cut off content flowing over rounded edges.
 */
.Notice--Rounded {
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  overflow: hidden;
  /* [1] */
}

.Notice--Padded {
  padding: 12px;
}

.Notice--Success {
  background-color: #ddedcc;
  border: 1px solid #80ce00;
  color: #80ce00;
}

/**
 * UI.UI-Object.Order
 * 
 * 1. Explicit width to prevent collapsing when orderrules are hidden.
 * 2. Hide content flowing over rounded edges.
 */
.Order {
  width: 100%;
  /* [1] */
  display: inline-block;
  border: 1px solid #aaaaaa;
  border-left: 0.38em solid #ff7600;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  overflow: hidden;
  /* [2] */
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.Order .DefList {
  margin-bottom: 0;
}

.DefList__Stack {
  background-color: #ebebeb;
}
@media (min-width: 55em) {
  .DefList__Stack {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    border-bottom: 1px solid #aaaaaa;
  }
}

.Order__Key,
.Order__Value,
.OrderRule__Key,
.OrderRule__Value {
  padding: 12px;
  border: 0 solid #aaaaaa;
}

.Order__Key,
.OrderRule__Key {
  border-width: 1px 1px 0 0;
  margin-top: -1px;
  margin-right: -1px;
}

.OrderRule__Value,
.Order__Value {
  margin-left: 131px;
  border-width: 0 0 1px 1px;
}

.Order__Value {
  background-color: white;
}
@media (min-width: 55em) {
  .Order__Value {
    border-bottom-width: 0;
    margin-left: -1px;
  }
}

.Order__Key {
  width: 132px;
  background-color: #ebebeb;
  margin-right: 12px;
}
@media (min-width: 55em) {
  .Order__Key {
    width: 100%;
    float: none;
    margin-left: -1px;
    border-width: 1px 0 1px 1px;
  }
}

.Order__Value--HasContent {
  padding: 0;
}

.OrderRulesToggler {
  position: relative;
  cursor: pointer;
  background: #aaaaaa;
  padding-bottom: 24px;
  width: 100%;
}
.OrderRulesToggler .Icon, .OrderRulesToggler .IconList > li, .OrderRulesToggler .Modal__Close, .OrderRulesToggler .CheckInput + label, .OrderRulesToggler .RadioInput + label {
  position: absolute;
  left: 50%;
  top: 3px;
}

.OrderRulesToggler--IsOpen .Icon, .OrderRulesToggler--IsOpen .IconList > li, .OrderRulesToggler--IsOpen .Modal__Close, .OrderRulesToggler--IsOpen .CheckInput + label, .OrderRulesToggler--IsOpen .RadioInput + label {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * 3. This element will be slideToggled with jQuery.
 */
.Order__Rules {
  display: none;
  /* [3] */
  margin-bottom: 0;
}

.OrderRule {
  -webkit-box-shadow: inset 0 0.38em 0.25em rgba(136, 136, 136, 0.5);
  box-shadow: inset 0 0.38em 0.25em rgba(136, 136, 136, 0.5);
}

.OrderRule__Key {
  margin-right: 12px;
  width: 132px;
}
@media (min-width: 55em) {
  .OrderRule__Key {
    width: 25%;
    border-right-width: 0;
  }
}

@media (min-width: 55em) {
  .OrderRule__Value {
    margin-left: 25%;
  }
}

/**
 * UI.UI-Object.Pagination
 */
.Pagination {
  font-size: large;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 0;
}
.Pagination a {
  padding: 0.25em;
  color: #585858;
}
.Pagination a:hover {
  color: #ff7600;
}

.Pagination__Current {
  color: #ff7600;
}

/**
 * UI.UI-Object.Panel
 *
 * 1. Need a high specificity to override BLockList items (.BlockList > li).
 */
.HasPanel,
.BlockList > .HasPanel {
  border: none;
  /* [1] */
}

.Panel {
  display: block;
  padding: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

.Panel--Padded {
  padding: 12px;
}

.Panel--Alt {
  background-color: #ebebeb;
  color: #585858;
}

.Panel--Error {
  border-color: red;
  background-color: #ffecec;
  color: red;
}

/**
 * UI.UI-Object.PopOver
 */
.PopOver {
  display: none;
  -webkit-box-shadow: 0 0 0.5em rgba(170, 170, 170, 0.9);
  box-shadow: 0 0 0.5em rgba(170, 170, 170, 0.9);
  padding: 12px;
  background-color: white;
  position: absolute;
  top: 12px;
}
.HasPopOver:hover .PopOver {
  display: block;
}

/**
 * UI.UI-Object.PriceTable
 *
 * 1. Context for button.
 */
.PriceTable {
  display: inline-block;
  width: 100%;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #d7d7d7;
}
.PriceTable .Nav, .PriceTable .Breadcrumb, .PriceTable .Pagination, .PriceTable .ProgressNav, .PriceTable .Tabs__Nav {
  margin-bottom: 0;
  margin-left: -1px;
}
.PriceTable li {
  padding: 6px 12px;
  text-align: center;
  border-right: 1px solid #d7d7d7;
  margin-right: -1px;
}
.PriceTable li:last-child {
  border-right-width: 0;
}
.PriceTable label:before {
  margin-right: 0;
}

.PriceTable__Context {
  position: relative;
  /* [1] */
  padding-right: 24px;
  padding-left: 24px;
}

.PriceTable__hScroller {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.PriceTable__Heading {
  font-size: 1em;
  background-color: #ddeff2;
  text-align: center;
  margin-bottom: 0;
  padding: 6px;
  border-width: 1px 0;
  border-style: solid;
  border-color: inherit;
}

.PriceTable__Btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: #d7d7d7;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 24px;
  background: #ebebeb;
}

.PriceTable__Btn--Prev {
  left: 0;
  border-width: 0 1px 0 0;
}

.PriceTable__Btn--Next {
  right: 0;
  border-width: 0 0 0 1px;
}

/**
 * UI.UI-Object.ProgressNav
 *
 * 1. Hide items flowing over rounded edges.
 */
.ProgressNav {
  border-width: 0 1px;
  border-style: solid;
  border-color: #d7d7d7;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  overflow: hidden;
  /* [1] */
  color: #585858;
}

/**
 * 2. Mandatory z-indexes for stacking multiple squares.
 */
.ProgressNav__Item {
  border-width: 1px 0 3px;
  border-style: solid;
  border-color: #d7d7d7;
  background-color: inherit;
  text-decoration: none;
  position: relative;
  padding: 6px;
  pointer-events: none;
  cursor: default;
  /**
   * 3 .hide-for-medium-up.show-for-large-up does not seem to work here
   */
}
.ProgressNav__Item:before, .ProgressNav__Item:after {
  content: "";
  position: absolute;
  left: 100%;
  top: -1px;
  border-width: 16.5px 12px;
  border-style: solid;
  border-color: transparent;
}
.ProgressNav__Item:before {
  z-index: 99993;
  /* [2] */
  border-left-color: #ebebeb;
}
.ProgressNav__Item:after {
  z-index: 99994;
  /* [2] */
  margin-left: -1px;
  border-left-color: white;
}
.ProgressNav__Item .Icon, .ProgressNav__Item .IconList > li, .ProgressNav__Item .Modal__Close, .ProgressNav__Item .CheckInput + label, .ProgressNav__Item .RadioInput + label {
  /* [3] */
}
@media (min-width: 55em) {
  .ProgressNav__Item .Icon, .ProgressNav__Item .IconList > li, .ProgressNav__Item .Modal__Close, .ProgressNav__Item .CheckInput + label, .ProgressNav__Item .RadioInput + label {
    display: none;
  }
}
@media (min-width: 66em) {
  .ProgressNav__Item .Icon, .ProgressNav__Item .IconList > li, .ProgressNav__Item .Modal__Close, .ProgressNav__Item .CheckInput + label, .ProgressNav__Item .RadioInput + label {
    display: inline-block;
  }
}
.ProgressNav__Item span {
  margin-right: -6px;
}

.ProgressNav__Item--Past {
  background-color: #ebebeb;
  pointer-events: auto;
  cursor: pointer;
}
.ProgressNav__Item--Past:after {
  display: none;
}

.ProgressNav__Item--Current {
  background-color: #ff7600;
  color: white;
  border-color: #f06f00;
}
.ProgressNav__Item--Current:before {
  border-left-color: #ff7600;
}
.ProgressNav__Item--Current:after {
  display: none;
}

/**
 * UI.UI-Object.Ribbon
 *
 * 1. Hide ribbon overflow;
 * 2. Fixed width. This means there's only a little room for different texts.
 * 3. Magic numbers for positioning;
 */
.HasRibbon {
  overflow: hidden;
  /* [1] */
}

.Ribbon {
  position: absolute;
  left: -2.5em;
  top: 1.5em;
  /* [3] */
  padding: 6px 0;
  width: 11em;
  /* [2] */
  text-align: center;
  color: white;
  background-color: #00aaee;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.Ribbon--Alt {
  background-color: #80ce00;
}

/**
 * UI.UI-Object.Tabs
 */
.Tabs {
  margin-bottom: 12px;
  border: 2px solid #d7d7d7;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  overflow: hidden;
}

.Tabs__Tab {
  display: none;
  padding: 12px;
}
.Tabs__Tab > img {
  display: block;
  margin: 0 auto;
}

.Tabs__Tab--Current {
  display: block;
}

.Tabs__Nav {
  margin-bottom: 0;
  background-color: #ebebeb;
  color: #585858;
}

.TabsNav__Item {
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
.TabsNav__Item:last-child {
  border-right-width: 0;
}

.TabsNav__Item--Current {
  background-color: white;
  border-top-color: white;
}

/**
 * UI.Global.Fonts
 */
/**
 * Stag Sans
 */
@font-face {
  font-family: "stag-sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/stagsans-book.eot");
  src: url("../fonts/stagsans-book.eot?#iefix") format("embedded-opentype"), url("../fonts/stagsans-book.woff") format("woff"), url("../fonts/stagsans-book.ttf") format("truetype"), url("../fonts/stagsans-book.svg#stag-sans") format("svg");
}
@font-face {
  font-family: "stag-sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/stagsans-medium.eot");
  src: url("../fonts/stagsans-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/stagsans-medium.woff") format("woff"), url("../fonts/stagsans-medium.ttf") format("truetype"), url("../fonts/stagsans-medium.svg#stag-sans") format("svg");
}
@font-face {
  font-family: "stag-sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/stagsans-bold.eot");
  src: url("../fonts/stagsans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/stagsans-bold.woff") format("woff"), url("../fonts/stagsans-bold.ttf") format("truetype"), url("../fonts/stagsans-bold.svg#stag-sans") format("svg");
}
/**
 * Doko
 */
@font-face {
  font-family: "doko";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/doko-bolditalic.eot");
  src: url("../fonts/doko-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/doko-bolditalic.woff") format("woff"), url("../fonts/doko-bolditalic.ttf") format("truetype"), url("../fonts/doko-bolditalic.svg#doko") format("svg");
}
/**
 * UI.Global.Form
 */
.TextInput {
  display: inline-block;
  border: 1px solid #aaaaaa;
  padding: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  font-size: 1em;
}
.TextInput:focus {
  outline: none;
}

/**
 * @support IE9+ Due to the :checked and :disabled pseudo-classes
 */
.CheckInput, .RadioInput {
  display: none;
}
.CheckInput + label, .RadioInput + label {
  cursor: pointer;
}
.CheckInput + label:before, .RadioInput + label:before {
  margin-right: 6px;
}
.CheckInput:disabled + label, .RadioInput:disabled + label {
  color: #aaaaaa;
  cursor: default;
}

/**
 * The RadioInput relies on the following markup:
 *
 * <input class="RadioInput" type="radio" name="theName" id="theID">
 * <label for="theID">...content...</label>
 */
/**
 * Mimick the use of block level elements, which are actually invalid
 * HTML. Yeah, so this is definitively a hack.
 */
label > span,
label > strong {
  display: block;
}

/**
 * UI.Global.MobileNav
 */
.MobileNav {
  background-color: #191919;
  padding-right: 12px;
  position: relative;
}
.MobileNav .Nav, .MobileNav .Breadcrumb, .MobileNav .Pagination, .MobileNav .ProgressNav, .MobileNav .Tabs__Nav {
  margin-bottom: 0;
}

/**
 * 1. High z-index to trump *all* other items.
 * @todo Fix z-index trump in revolution slider.
 */
.MobileNav--IsSticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99996;
  /* [1] */
  -webkit-box-shadow: 0 0.38em 0.25em rgba(25, 25, 25, 0.25);
  box-shadow: 0 0.38em 0.25em rgba(25, 25, 25, 0.25);
}

.MobileNav__Toggle {
  padding: 12px;
  color: white;
}

.MobileNav__Toggle--IsOpen {
  background-color: #00aaee;
}

.MobileNav__Icon {
  padding: 6px;
}

/**
 * 1. Displays the number of items in the cart.
 */
.MobileNav__Icon--Cart:after {
  content: attr(data-count);
  /* [1] */
  display: inline-block;
  background-color: #ff7600;
  color: white;
  padding: 0 0.25em;
  position: absolute;
  right: -0.5em;
  top: -0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

/**
 * 1. Max-height will be recalculated with JS for Visible-state.
 * 2. High z-index to trump all other elements;
 */
.MobileNav__Nav {
  position: absolute;
  top: 100%;
  right: 0px;
  left: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  max-height: 0;
  /* [1] */
  z-index: 99996;
  /* [2] */
  -webkit-box-shadow: 0 0.38em 0.25em rgba(25, 25, 25, 0.25);
  box-shadow: 0 0.38em 0.25em rgba(25, 25, 25, 0.25);
  background-color: white;
  -webkit-transition: max-height 150ms cubic-bezier(0.25, 0.75, 0.25, 0.85);
  transition: max-height 150ms cubic-bezier(0.25, 0.75, 0.25, 0.85);
}

.MobileNav__Nav--IsVisible {
  max-height: none;
  /* [1] */
  border-top: 0.25em solid #00aaee;
}

/**
 * UI.Global.Page
 *
 * 1. Temporary styles.
 * @todo Clean up temporary styles.
 */
html {
  background-color: white;
  background: url(../img/bg-pattern.png);
}

body {
  padding: 12px 0;
  /* [1] */
  margin: 0 auto;
  /* [1] */
  /* [/1] */
}
@media (min-width: 33em) {
  body {
    padding-right: 2%;
    padding-left: 2%;
  }
}
@media (min-width: 55em) {
  body {
    padding-right: 3%;
    padding-left: 3%;
  }
}
@media (min-width: 66em) {
  body {
    padding-right: 6%;
    padding-left: 6%;
  }
}
@media (min-width: 80em) {
  body {
    padding-right: 9%;
    padding-left: 9%;
  }
}
@media (min-width: 96em) {
  body {
    padding-right: 17.5%;
    padding-left: 17.5%;
  }
}
@media (min-width: 130em) {
  body {
    padding-right: 20%;
    padding-left: 20%;
  }
}
body:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/streep.png) repeat-x 0 0 transparent;
  width: 100%;
  height: 6px;
}

.PageContent, .PageHead__Inner, .PageFoot__Bottom {
  background-color: white;
  -webkit-box-shadow: 0 0.13em 0.25em rgba(25, 25, 25, 0.25);
  box-shadow: 0 0.13em 0.25em rgba(25, 25, 25, 0.25);
}
@media (min-width: 33em) {
  .PageContent, .PageHead__Inner, .PageFoot__Bottom {
    -webkit-border-radius: 1em;
    border-radius: 1em;
  }
}

/**
 * Page Content
 */
.PageContent {
  margin-bottom: 12px;
}
.PageContent:after {
  content: "";
  display: table;
  clear: both;
}

.PageContent__Main:before,
.PageContent__SideBar:after {
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  -webkit-background-size: cover;
  background-size: cover;
  display: none;
}
@media (min-width: 96em) {
  .PageContent__Main:before,
  .PageContent__SideBar:after {
    display: block;
  }
}

@media (min-width: 96em) {
  .PageContent__Main:before {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 192px;
    padding-bottom: 96px;
    background-image: url(../img/verfbak.png);
  }
}

.PageContent__SideBar {
  position: relative;
  padding: 1em;
  z-index: 0;
}
@media (min-width: 96em) {
  .PageContent__SideBar:after {
    position: absolute;
    right: -164px;
    top: 840px;
    z-index: -1;
    background-image: url(../img/customer-service-person.png);
    width: 228px;
    padding-bottom: 360px;
  }
}

.PageSection,
.PageSide {
  margin-bottom: 24px;
}
.PageSection > :last-child,
.PageSide > :last-child {
  margin-bottom: 0;
}

/**
 * UI.Global.PageHead
 */
.PageHead {
  margin-bottom: 24px;
}

/**
 * @extend Nav
 */
.PageHead__TopNav {
  margin-bottom: 12px;
}
.PageHead__TopNav > li {
  margin-right: 12px;
}

/**
 * Page Head Inner
 */
.PageHead__Inner {
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, white));
  background-image: -webkit-linear-gradient(#f1f1f1, white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(white));
  background-image: linear-gradient(#f1f1f1, white);
  padding-top: 12px;
}

/**
 * Site Logo
 *
 * 1. Logo ratio 21:4.
 * 2. Must specify a second value for Chrome.
 * 3. Magic numbers come from a lot of trial and error. Using absolute
 *    numbers instead of percentages result in different behaviour on
 *    varying devices.
 * 4. For a large enough viewport, use a static width.
 */
.SiteLogo {
  display: block;
  padding-bottom: 21%;
  /* [1] */
  background: url("../img/dwd-sprite.min.svg") no-repeat 0 86% transparent;
  /* [3] */
  -webkit-background-size: 485% 485%;
  background-size: 485% 485%;
  /* [2] */
}
@media (min-width: 55em) {
  .SiteLogo {
    width: 252px;
    /* [4] */
    padding-bottom: 17%;
    -webkit-background-size: 1224px;
    background-size: 1224px;
    /* [4] */
    background-position: 0 -144px;
    /* [4] */
    margin-bottom: 12px;
  }
}

/**
 * Page Head Search
 *
 * 1. Match size of accompanying button
 */
.PageHeadSearch__Input {
  padding: 9px 12px;
  /* [1] */
}

/**
 * Page Head Phone
 */
.PageHead__Phone {
  padding: 2px 4px;
  text-align: center;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  display: inline-block;
}

/**
 * Page Head Cart
 */
.PageHead__Cart {
  text-align: right;
  color: #585858;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: white #ebebeb #aaaaaa;
  padding-right: 24px;
  margin-right: 12px;
  padding-bottom: 6px;
  padding-left: 48px;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  max-width: 180px;
  float: right;
}
.PageHead__Cart:before {
  content: "";
  display: inline-block;
  background: url(../img/winkelwagen.png) no-repeat 0% 0 transparent;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  position: absolute;
  left: -30px;
  bottom: -15px;
  z-index: 0;
  width: 120px;
  height: 108px;
}

.PageHeadCart__NumItems {
  font-weight: 700;
}

.PageHeadCart__Num {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

.PageHeadCart__GoTo {
  text-decoration: underline;
}

/**
 * Page Head USP
 */
.PageHead__Usp {
  font-size: small;
  font-size: 1rem;
}
@media (min-width: 33em) {
  .PageHead__Usp {
    font-size: 1em;
  }
}
.PageHead__Usp > li:nth-child(2) a,
.PageHead__Usp > li:nth-child(5) a {
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 0 0 0 1px;
}

.PageHeadUsp__Link {
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.PageHeadUsp__Standout {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: -0.25em;
}

/**
 * UI.Global.PageFoot
 */
.PageFoot__Main {
  margin-bottom: 12px;
}

.PageFoot__Bottom {
  margin-bottom: 12px;
}

/**
 * UI.Global.SiteNav
 *
 * 1. Provide a context for putting the Page Head Cart behind 
 *    this site nav.
 */
.SiteNav {
  margin-bottom: 0;
  background-color: #292929;
  -webkit-box-shadow: inset 0 0.25em 0.25em -0.25em white;
  box-shadow: inset 0 0.25em 0.25em -0.25em white;
  position: relative;
  /* [1] */
}
@media (min-width: 66em) {
  .SiteNav {
    font-size: 1.1em;
  }
}
.SiteNav a {
  border-style: solid;
  border-width: 1px;
  line-height: 3.6;
  border-color: #292929 #191919 #191919 #585858;
  color: white;
  text-decoration: none;
}
.SiteNav > li:hover {
  border-color: #008cc9;
}
.SiteNav > li:hover a {
  border-color: #008cc9;
  background-color: #00aaee;
}
.SiteNav > li:first-child a {
  border-left-width: 0;
}

/**
 * UI.Global.Typography
 */
html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  line-height: 18px;
  font-size: 12px;
}

/**
 * 1. Untested value. Should be applicable to larger items too.
 */
del {
  text-decoration: none;
  position: relative;
}
del:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border-top: 1px solid #ff7600;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  /* [1] */
}

sup {
  font-size: 66.6666%;
  top: -0.3334em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "stag-sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  font-weight: 400;
  line-height: 1;
}

.h1 {
  font-size: x-large;
  font-size: 2.4rem;
}

.h2 {
  font-size: large;
  font-size: 1.8rem;
}

.h3 {
  font-size: medium;
  font-size: 1.4rem;
}

.h4 {
  font-size: medium;
  font-size: 1.4rem;
}

.h5 {
  font-size: small;
  font-size: 1.2rem;
}

.h6 {
  font-size: small;
  font-size: 1rem;
}

h1,
h2 {
  margin-bottom: 24px;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 6px;
}

.h--alt, .PageTitle {
  font-family: "doko", "stag-sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.PageTitle {
  border-bottom: 1px solid #ebebeb;
}

.SectionHeading {
  background-color: #ebebeb;
  color: #585858;
  margin-bottom: 24px;
  padding-right: 12px;
}

.SectionHeading__Icon,
.SectionHeading__Title {
  display: inline-block;
  vertical-align: middle;
}

.SectionHeading__Icon {
  margin-right: 12px;
  background-color: #d7d7d7;
  padding: 0.5em 0.75em;
}

.SectionHeading__Title {
  margin-bottom: 0;
}

.SectionHeading--Alt {
  background-color: #00aaee;
  color: white;
}

.SectionHeading--Alt .SectionHeading__Icon,
.SectionHeading__Icon--Alt {
  background-color: #008cc9;
}

.SectionHeading--Rounded {
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  overflow: hidden;
}

.minor {
  font-weight: 400;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
}

.muted {
  color: #aaaaaa;
}
a:hover .muted {
  color: #ff7600;
}

/**
 * Callout
 *
 * 1. Remove the bottom margin from a callout when it's in a Notice
 *    to prevent padding/spacing/alignment issues.
 */
.callout {
  font: italic 700 1.5em/1.33 "doko", "stag-sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
}
.Notice .callout {
  margin-bottom: 0;
  /* [1] */
}

.hide-text {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/**
 * Links
 */
a {
  color: inherit;
}

.link-inverse, .Pagination__Current,
.link-inverse *,
.Pagination__Current *,
.inverse-link,
.inverse-link * {
  text-decoration: none;
}
.link-inverse:hover, .Pagination__Current:hover,
.link-inverse *:hover,
.Pagination__Current *:hover,
.inverse-link:hover,
.inverse-link *:hover {
  text-decoration: underline;
}

.faux-link {
  text-decoration: underline;
  color: #ff7600;
}

.email-link {
  word-wrap: break-word;
}

/**
 * Import modules and vendor
 */
/**
 * Module.Slider
 */
.Slider {
  width: 100%;
  position: relative;
  padding: 0;
}

.Slider__Banner {
  width: 100%;
  position: relative;
}
