/**
 * Balloon
 *
 * 1. Stack balloon content higher than the ballon-tip.
 */
.Balloon {

    > * {
        position: relative; /* [1] */
        z-index: calculate-z-index(5); /* [1] */
    }

    &:before,
    &:after {
        content: "";
        width: 0;
        height: 0;
    }

    &:after {
        border-style: solid;
        border-color: transparent;
        transform: rotate(45deg);
        z-index: calculate-z-index(6);
    }
}
