/**
 * Base.Object.Breadcrumb
 *
 * 1. Right facing chevron
 */
.Breadcrumb {
    @extend .Nav;

    a:after {
        content: "\203A"; /* [1] */
        display: inline-block;
        margin-right: $base-spacing-unit/4;
        margin-left: $base-spacing-unit/4;
    }
}
