/**
 * Buttons
 *
 * @link Most styles come from InuitCSS (https://github.com/csswizardry/inuit.css/blob/master/objects/_beautons.scss)
 *
 * 1. Allow for box model properties.
 * 2. Line up button with other content.
 * 3. Inherit font-styles, especially useful for `input`s.
 * 4. Normalize styles, mostly for iOS and Android.
 * 5. Indicate that button is clickable.
 * 6. Fix for odd inner spacing in IE7.
 * 7. Prevent button wrapping on multiple lines.
 */
.Btn {
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    border: none; /* [4] */
    border-radius: 0; /* [4] */
    margin: 0; /* [4] */
    @include appearance(none); /* [4] */
    cursor: pointer; /* [5] */
    overflow: visible; /* [6] */
    white-space: nowrap; /* [7] */
    padding: ($base-spacing-unit / 2.4) ($base-spacing-unit / 1.8);

    &,
    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none; /* [4] */
    }
}
