/**
 * Flag
 *
 * @link Idea and code come from Harry Roberts (http://csswizardry.com/2013/05/the-flag-object/)
 */
.Flag {
    display: table;
}

    .Flag__Img,
    .Flag__Body {
        display: table-cell;
        vertical-align: middle;

        .Flag--Top & {
            vertical-align: top;
        }

        .Flag--Bottom & {
            vertical-align: bottom;
        }
    }

    .Flag__Img {
        padding-right: $base-spacing-unit/2;

        > img {
            display: block;
            max-width: none;
        }

        .Flag--Rev & {
            padding-right: 0;
            padding-left: $base-spacing-unit/2;
        }
    }

    .Flag__Body {
        width: 100%;
    }
