/**
 * Vertical collapsing form
 */
.Form--vCollapse {

    .TextInput,
    .Btn {
        width: 100%;
        margin-bottom: 0;
    }
}

/**
 * Horizontal collapsing form
 */
.Form--hCollapse {
    
    .TextInput {
        width: 100%;
    }

    .Btn {
        float: right;
    }
}

.Form__Collapser {
    overflow: hidden;
}
