/**
 * Base.Object.Grid
 *
 * @link The idea of margin/padding on the grid columns comes from
 *       Harry Roberts (http://csswizardry.com/2013/02/introducing-csswizardry-grids/)
 */
$gutter-width: $base-spacing-unit;

/**
 * Loop through all breakpoints and generate content
 */
@mixin grid-media-query() {
    @each $bp_name, $bp_width in $breakpoints {
        @include breakpoint($bp_width) {
            @include widths-setup("#{$bp_name}");
        }
    }
}

/**
 * Declare widths and offsets here for further use
 */
@mixin widths-setup($bp_name: "init") {

    /**
     * Column widths
     */
    @for $col_number from 1 through $base-grid-columns {
        .#{$bp_name}-#{$col_number} {
            width: percentage($col_number / $base-grid-columns);
        }
    }

    /**
     * Offset widths
     *
     * For less loops: use some integer instead of $base-grid-columns;
     */
    @for $col_number from 0 through 2 {
        .#{$bp_name}-offset-#{$col_number} {
            margin-left: percentage($col_number / $base-grid-columns);
        }
    }
}

.row {
    margin-left: $gutter-width*-1;
}

.col,
.cols {
    padding-left: $gutter-width;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.row--centered {
    text-align: center;

    .col,
    .cols {
        text-align: left;
    }
}

.row--collapsed {
    margin-left: 0;

    .col,
    .cols {
        padding-left: 0;
    }
}

.row--padded {
    padding: $gutter-width;
}

.row--hPadded {
    padding-right: $gutter-width;
    padding-left: $gutter-width;
}

.row--vPadded {
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
}

.row--mAlign .col,
.row--mAlign .cols {
    vertical-align: middle;
}

.row--bAlign .col,
.row--bAlign .cols {
    vertical-align: bottom;
}

@include widths-setup;
@include grid-media-query;
