/**
 * Base.Object.Icon
 */
@mixin icon-background-positioner($x, $y) {

    &:before {
        background-position: percentage($x / ($base-sprite-columns - 1)) percentage($y / ($base-sprite-rows - 1));
    }
}

/**
 * Hidden div in the DOM to preload the sprite image
 */
.Icon__Preload {
    display: none;
}

.Icon {
    
    &:before {
        content: "";
        display: inline-block;
        background: url($base-sprite-path) no-repeat 0 0 transparent;
        background-size: ($base-icon-size * $base-sprite-columns) ($base-icon-size * $base-sprite-rows);
        width: $base-icon-size;
        padding-bottom: $base-icon-size;
    }
}
