/**
 * Base.Object.IconList
 *
 * 1. Override Icon, which is set to inline-block;
 */
.IconList {
    @extend .BareList;
    @include margin-bottom;
    padding-left: $base-spacing-unit*2;

    > li {
        @extend .Icon;
        display: list-item; /* [1] */

        &:before {
            margin-left: $base-spacing-unit*-2;
            margin-right: $base-spacing-unit;
        }
    }
}
