/**
 * Island
 *
 * Makes content appear as a boxed-off standalone element.
 *
 * @link The Island object comes from InuitCSS (https://github.com/csswizardry/inuit.css/blob/master/objects/_island.scss)
 */
.Island {
    @include clearfix;
    @include margin-bottom;
    display: block;

    > :last-child {
        margin-bottom: 0;
    }
}
