/**
 * Base.Object.Label
 *
 * 1. Reset font-styles for use in headings.
 */
.Label {
    display: inline-block;
    padding: $base-spacing-unit/4 $base-spacing-unit/2;
    font-style: normal;
    font-weight: 400;
    font-family: $brand-face; /* [1] */
    @include font-size($micro-size, small); /* [1] */
    background-color: $base-ui-color;
}
