/**
 * Matrix
 *
 * 1. Let images and links take up all available space.
 */
.Matrix {
    margin-left: 0;
    list-style: none;

    > li {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    img {
        width: 100%;  /* [1] */
    }

    a {
        display: block; /* [1] */
        height: 100%; /* [1] */
    }
}

/**
 * Two column matrix
 */
.Matrix--Double {

    > li {
        width: 50%;
    }
}

/**
 * Three column matrix
 */
.Matrix--Triple {

    > li {
        width: 50%;

        @include breakpoint($bp-s) {
            width: 33.3333%;
        }
    }
}

/**
 * Four column matrix
 */
.Matrix--Quadruple {

    > li {
        width: 50%;

        @include breakpoint($bp-s) {
            width: 25%;
        }
    }
}
