/**
 * Media
 *
 * @link The Media Object originally came from Nicole Sullivan. This
 *       an adapted version (http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/)
 */
.Media {
    @include clearfix;
    display: block;
}

    .Media__Img {
        float: left;
        margin-right: $base-spacing-unit;

        > img {
            display: block;
        }
    }

    .Media__Body {
        overflow: hidden;

        &,
        > :last-child {
            margin-bottom: 0;
        }
    }

/**
 * Reversed media object
 */
.Media--Rev {

    > .Media__Img {
        float: right;
        margin-right: 0;
        margin-left: $base-spacing-unit;
    }
}
