/**
 * Base.Object.Meter
 */
.Meter {
    display: inline-block;
    width: 100%;
}

    /**
     * 1. Width will be set via inline-style as this is very specific
     *    for each meter element.
     */
    .Meter__Value {
        padding-bottom: $base-spacing-unit/1.5;
        background-color: $base-ui-color;
        /* width: auto; [1] */
    }
