/**
 * Base.Object.Modal
 *
 * 1. Center on large viewports
 */
.Modal {
    @include position(fixed, $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit);
    margin: 0 auto; /* [1] */
    z-index: calculate-z-index(1);
}

.Modal,
.Modal__Backdrop {
    @include animatable;
    transform: scale(0);
}

.Modal--Active,
.Modal__Backdrop--Active {
    transform: scale(1);
}


    .Modal__Backdrop {
        @include position(fixed, 0px 0px 0px 0px);
        z-index: calculate-z-index(2);
        cursor: pointer;
    }

    .Modal__Body {
        @include scrollable;

        > :last-child {
            margin-bottom: 0;
        }
    }

    .Modal__Close {
        @include position(absolute, 0px 0px 0 0);
    }
