/**
 * Nav
 *
 * @link The Nav Object comes from InuitCSS (https://github.com/csswizardry/inuit.css/blob/master/objects/_nav.scss)
 */
.Nav {
    margin-left: 0;
    list-style: none;

    > li,
    a {
        display: inline-block;
    }
}

/**
 * Stacked nav
 */
.Nav--Stacked {

    > li {
        display: list-item;
    }
}

/**
 * Banner nav
 */
.Nav--Banner {
    text-align: center;
}

/**
 * Full width fitting nav
 */
.Nav--Stretch {
    display: table;
    width: 100%;

    > li {
        display: table-cell;
    }

    a {
        display: block;
    }
}
