/**
 * Base.Object.Overlay
 */
.HasOverlay {
    position: relative;
}

.Overlay {
    @include overlay(auto, auto, auto, auto, 0);
    // Additional styles can be found in ./assets/css/ppg-framework/tool/mixins.scss
}
