/**
 * Split
 *
 * @link The split Object comes from InuitCSS (https://github.com/csswizardry/inuit.css/blob/master/objects/_split.scss)
 *
 * @example
 * ````
 * %dl.Split
 *   %dt.Split__title McNuggets
 *   %dd €2,99
 *   %dt.Split__title McFlurry
 *   %dd €2,35
 * ````
 *
 * 1. For use in inline elements.
 */
.Split {
    @include clearfix;
    display: block; /* [1] */
    text-align: right;
    margin-left: 0;
}

    .Split__Title {
        text-align: left;
        float: left;
        clear: left;
    }
