/**
 * Switch
 */
.Switch {
    display: inline-block;
}

    .Switch__Option {
        visibility: hidden;
        position: absolute;
        left: -9999px;
    }

    .Switch__Toggle {
        display: inline-block;
        cursor: pointer;
    }
