/**
 * UI-List
 */
.UiList {
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;

    > li {
        @include margin-bottom(0.5);
        padding-bottom: $base-spacing-unit/2;
    }
}

.UiList--Padded {
    
    > li {
        padding-top: 2 * $base-spacing-unit;
        padding-bottom: 2 * $base-spacing-unit;
    }
}
