/**
 * Visibility helpers
 */
@mixin show-for {
    @each $bp_name, $bp_width in $breakpoints {
        .show-for-#{$bp_name}-up {
            display: none !important;

            @include breakpoint( $bp_width ) {
                display: inline-block !important;

                &.Nav--Stretch {
                    display: table !important;
                }

                &.Nav--Stretch > li {
                    display: table-cell !important;
                }
            }
        }
    }
}

@mixin hide-for {
    @each $bp_name, $bp_width in $breakpoints {
        .hide-for-#{$bp_name}-up {
            display: inline-block !important;

            &.Nav--Stretch {
                display: table !important;
            }

            &.Nav--Stretch > li {
                display: table-cell !important;
            }

            @include breakpoint( $bp_width ) {
                display: none !important;
            }
        }
    }
}

@include hide-for;
@include show-for;
