/**
 * UI.Object.Balloon
 *
 * 1. Order box-shadows to overlay color over balloon tip 'border'.
 */
.Balloon {
    $balloon-border-width: 0.125em;

    @extend .HasOverlay;
    float: right;
    @include margin-bottom(-2);
    padding: $base-spacing-unit/2 $base-spacing-unit;
    border: $balloon-border-width solid $brand-eta;
    @include linear-gradient($brand-delta-main, $brand-delta-sec, $fallback: $brand-delta-main);
    border-radius: $brand-round-large;
    box-shadow: $shadow-global;
    font-family: $brand-face-heading;
    @include font-size(1.25, large);
    line-height: 1;
    text-align: center;

    &:before {
        $offset-x: (3 * $base-spacing-unit) - 1px;
        @include overlay(right, beneath, $offset-x, auto, calculate-z-index(5));
        border-right: $balloon-border-width solid $brand-eta;
        height: 1.5 * $base-spacing-unit;
    }

    &:after {
        $offset-y: -$base-spacing-unit;
        $offset-x: 2 * $base-spacing-unit;
        @include overlay(right, bottom, $offset-x, $offset-y, calculate-z-index(6));
        border-width: $base-spacing-unit;
        border-right-color: $brand-delta-sec;
        box-shadow: 0 $balloon-border-width*-1 0 $brand-delta-sec,
                    $balloon-border-width 0 0 $brand-eta; /* [1] */
    }
}

    .Balloon__Amount {
        font-size: 1.5em;
        font-weight: 700;
        padding: 0.125em;
    }

    .Balloon__Vat {
        font-size: 0.675em;
    }
