/**
 * UI.Object.BlockList
 */
.BlockList {

    &,
    > li {
        border-color: $brand-iota;
    }

    li > a,
    li > .RadioInput + label {
        display: block;
        padding: 0.5em;
    }
}

.BlockList--Double {
    text-align: justify;

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    > li {
        display: inline-block;
        vertical-align: top;
        width: 47.5%;
        text-align: left;
    }
}
