/**
 * UI.Object.Button
 *
 * 1. Apply glow effect
 */
.Btn {
    @include linear-gradient($brand-alpha-main, $brand-alpha-sec, $fallback: $brand-alpha-main);
    box-shadow: inset 0 0.25em 0.25em -0.25em $brand-eta; /* [1] */
    border: 1px solid $brand-alpha-sec;
    border-radius: $brand-round-small;
    color: $brand-eta;
    font-size: 1.2em;
    font-family: 'stag-sans', Lucida, sans-serif;
    font-weight: 300;

    &:hover {
        background: $brand-alpha-sec;
    }

    .Icon,
    .Icon:before {
        vertical-align: middle;
    }
}

/**
 * Alternate button
 */
.Btn--Alt {
    @include linear-gradient($brand-theta, $brand-kappa, $fallback: $brand-theta);
    box-shadow: 0 0.0625em 0.125em 0 $brand-theta; /* [2] */
    color: $brand-nu;
    border-color: $brand-lambda;

    &:hover {
        background: $brand-kappa;
    }
}

/**
 * Call to action button
 *
 * 1. Undo default glow effect.
 */
.Btn--Cta {
    border-color: $brand-beta-sec;
    box-shadow: none; /* [1] */

    &,
    &:hover {
        @include linear-gradient($brand-beta-main, $brand-beta-sec, $fallback: $brand-beta-main);
    }
}

/**
 * Expand section Button differs slightly from normal buttons, so requires
 * some more configuration.
 */
.Btn--ExpandSection {
    background: $brand-eta;
    color: $brand-lambda;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: $brand-lambda;
    border-radius: $brand-round-small;
    padding: 0 $base-spacing-unit/2;
    @include font-size($h6-size, small);

    &:hover {
        background: $brand-theta;
    }
}

/**
 * Disabled button
 */
.Btn--Disabled,
.Btn:disabled {
    background: $brand-theta;
    color: $brand-lambda;
    border-color: $brand-kappa;
    cursor: not-allowed;
    pointer-events: none;
}

/**
 * Large button
 */
.Btn--Large {
  padding: ($base-spacing-unit / 1.5) $base-spacing-unit;
}

/**
 * Small button
 */
.Btn--Small {
  @include font-size(1, medium);
}

/**
 * Full button
 */
.Btn--Full {
  width: 100%;
}
