/**
 * UI.Object.FormCollapse
 */
.Form--vCollapse {

    .TextInput {
        border-bottom-width: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .Btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.Form--hCollapse {

    .TextInput {
        border-right: 0;
        padding-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .Btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
