/**
 * UI.Object.Icon
 */
@mixin icon-sizer($multiplier) {

    &:before {
        width: round($multiplier * $base-icon-size);
        padding-bottom: round($multiplier * $base-icon-size);
        background-size: ($base-icon-size * $base-sprite-columns * $multiplier) ($base-icon-size * $base-sprite-rows * $multiplier);
    }
}

.Icon--Small {
    @include icon-sizer(0.75);
}

.Icon--Large {
    @include icon-sizer(1.333334);
}

.Icon--XLarge {
    @include icon-sizer(2);
}

.Icon--XXLarge {
    @include icon-sizer(3);
}

/**
 * Base icons
 * 
 * Black:  0;
 * Gray:   1;
 * Orange: 2;
 * Blue:   3;
 * Green:  4;
 * White:  5;
 * Alt:    6;
 *
 * @note Until there's a spec or at least proper support for background-position-y
 *       we have to use adjecent classes for different colors. Otherwise we can do:
 *
 *       .gray {
 *          background-position-y: (-1 * $base-icon-size);
 *       }
 *       .orange {
 *          background-position-y: (-2 * $base-icon-size);
 *       }
 *       etc.
 */
.Icon--Search                   { @include icon-background-positioner(0, 0); }
    .Icon--Search.white              { @include icon-background-positioner(0, 5); }
.Icon--Info                     { @include icon-background-positioner(1, 0); }
    .Icon--Info.gray                 { @include icon-background-positioner(1, 1); }
    .Icon--Info.orange               { @include icon-background-positioner(1, 2); }
    .Icon--Info.blue                 { @include icon-background-positioner(1, 3); }
    .Icon--Info.white                { @include icon-background-positioner(1, 5); }
    .Icon--Info.alt                  { @include icon-background-positioner(1, 6); }
.Icon--Question                 { @include icon-background-positioner(2, 0); }
.Icon--Cross                    { @include icon-background-positioner(3, 0); }
.Icon--Eye                      { @include icon-background-positioner(4, 0); }
    .Icon--Eye.orange               { @include icon-background-positioner(4, 2); }
.Icon--Question                 { @include icon-background-positioner(5, 0); }
.Icon--Crosshair                { @include icon-background-positioner(6, 0); }
.Icon--TriangleDown             { @include icon-background-positioner(7, 0); }
    .Icon--TriangleDown.gray        { @include icon-background-positioner(7, 1); }
    .Icon--TriangleDown.orange      { @include icon-background-positioner(7, 2); }
.Icon--TriangleRight            { @include icon-background-positioner(8, 0); }
    .Icon--TriangleRight.gray       { @include icon-background-positioner(8, 1); }
    .Icon--TriangleRight.orange     { @include icon-background-positioner(8, 2); }
.Icon--ArrowRight               { @include icon-background-positioner(9, 0); }
    .Icon--ArrowRight.gray          { @include icon-background-positioner(9, 1); }
    .Icon--ArrowRight.orange        { @include icon-background-positioner(9, 2); }
    .Icon--ArrowRight.white         { @include icon-background-positioner(9, 5); }
.Icon--Bars                     { @include icon-background-positioner(10, 0); }
    .Icon--Bars.white               { @include icon-background-positioner(10, 5); }
.Icon--ExternalLink             { @include icon-background-positioner(11, 0); }
.Icon--Lock                     { @include icon-background-positioner(12, 0); }
.Icon--Download                 { @include icon-background-positioner(13, 0); }
.Icon--Upload                   { @include icon-background-positioner(14, 0); }
    .Icon--Upload.gray              { @include icon-background-positioner(14, 1); }
    .Icon--Upload.white             { @include icon-background-positioner(14, 5); }
.Icon--Bullhorn                 { @include icon-background-positioner(15, 0); }
.Icon--Check                    { @include icon-background-positioner(16, 0); }
    .Icon--Check.blue               { @include icon-background-positioner(16, 3); }
    .Icon--Check.green              { @include icon-background-positioner(16, 4); }
.Icon--CheckCircle              { @include icon-background-positioner(17, 0); }
.Icon--ChevronDown              { @include icon-background-positioner(18, 0); }
    .Icon--ChevronDown.gray         { @include icon-background-positioner(18, 1); }
    .Icon--ChevronDown.orange       { @include icon-background-positioner(18, 2); }
    .Icon--ChevronDown.blue         { @include icon-background-positioner(18, 3); }
    .Icon--ChevronDown.white        { @include icon-background-positioner(18, 5); }
.Icon--ChevronDownDouble        { @include icon-background-positioner(19, 0); }
    .Icon--ChevronDownDouble.blue   { @include icon-background-positioner(19, 3); }
    .Icon--ChevronDownDouble.white  { @include icon-background-positioner(19, 5); }
.Icon--ChevronRight             { @include icon-background-positioner(20, 0); }
    .Icon--ChevronRight.gray        { @include icon-background-positioner(20, 1); }
    .Icon--ChevronRight.orange      { @include icon-background-positioner(20, 2); }
    .Icon--ChevronRight.blue        { @include icon-background-positioner(20, 3); }
    .Icon--ChevronRight.white       { @include icon-background-positioner(20, 5); }
.Icon--Cross                    { @include icon-background-positioner(21, 0); }
    .Icon--Cross.gray               { @include icon-background-positioner(21, 1); }
    .Icon--Cross.orange             { @include icon-background-positioner(21, 2); }
    .Icon--Cross.blue               { @include icon-background-positioner(21, 3); }
    .Icon--Cross.white              { @include icon-background-positioner(21, 5); }
.Icon--Person                   { @include icon-background-positioner(22, 0); }
    .Icon--Person.orange            { @include icon-background-positioner(22, 2); }
    .Icon--Person.white             { @include icon-background-positioner(22, 5); }
.Icon--PersonInfo               { @include icon-background-positioner(23, 0); }
.Icon--PersonNew                { @include icon-background-positioner(24, 0); }
.Icon--PersonAlert              { @include icon-background-positioner(25, 0); }
.Icon--PersonsDialog            { @include icon-background-positioner(26, 0); }
    .Icon--PersonsDialog.orange     { @include icon-background-positioner(26, 2); }
.Icon--PersonDialog             { @include icon-background-positioner(27, 0); }
    .Icon--PersonDialog.orange      { @include icon-background-positioner(27, 2); }
    .Icon--PersonDialog.white      { @include icon-background-positioner(27, 5); }
.Icon--Heart                    { @include icon-background-positioner(28, 0); }
    .Icon--Heart.white              { @include icon-background-positioner(28, 5); }
.Icon--Book                     { @include icon-background-positioner(29, 0); }
.Icon--Envelope                 { @include icon-background-positioner(30, 0); }
.Icon--Cart                     { @include icon-background-positioner(31, 0); }
    .Icon--Cart.gray                { @include icon-background-positioner(31, 1); }
    .Icon--Cart.white               { @include icon-background-positioner(31, 5); }
    .Icon--Cart.alt                 { @include icon-background-positioner(31, 6); }
.Icon--DocumentQuestion         { @include icon-background-positioner(32, 0); }
.Icon--DocumentRefresh          { @include icon-background-positioner(33, 0); }
.Icon--DocumentEuro             { @include icon-background-positioner(34, 0); }
.Icon--Coin                     { @include icon-background-positioner(35, 0); }
.Icon--Clock                    { @include icon-background-positioner(36, 0); }
    .Icon--Clock.orange             { @include icon-background-positioner(36, 2); }
.Icon--EnvelopeAlert            { @include icon-background-positioner(37, 0); }
    .Icon--EnvelopeAlert.alt        { @include icon-background-positioner(37, 6); }
.Icon--FileTransferDone         { @include icon-background-positioner(38, 0); }
.Icon--Phone                    { @include icon-background-positioner(39, 0); }
    .Icon--Phone.orange             { @include icon-background-positioner(39, 2); }
    .Icon--Phone.green              { @include icon-background-positioner(39, 4); }
.Icon--Dialog                   { @include icon-background-positioner(40, 0); }
    .Icon--Dialog.green             { @include icon-background-positioner(40, 4); }
.Icon--Bill                     { @include icon-background-positioner(41, 0); }
.Icon--Payment                  { @include icon-background-positioner(42, 0); }
    .Icon--Payment.gray             { @include icon-background-positioner(42, 1); }
    .Icon--Payment.white            { @include icon-background-positioner(42, 5); }
.Icon--Delivery                 { @include icon-background-positioner(43, 0); }
    .Icon--Delivery.gray            { @include icon-background-positioner(43, 1); }
    .Icon--Delivery.orange          { @include icon-background-positioner(43, 2); }
    .Icon--Delivery.white           { @include icon-background-positioner(43, 5); }
.Icon--Box                      { @include icon-background-positioner(44, 0); }
    .Icon--Box.gray                 { @include icon-background-positioner(44, 1); }
    .Icon--Box.orange               { @include icon-background-positioner(44, 2); }
    .Icon--Box.white                { @include icon-background-positioner(44, 5); }
.Icon--Factory                  { @include icon-background-positioner(45, 0); }
    .Icon--Factory.orange           { @include icon-background-positioner(45, 2); }
    .Icon--Factory.gray             { @include icon-background-positioner(45, 1); }
    .Icon--Factory.white            { @include icon-background-positioner(45, 5); }
.Icon--Rocket                   { @include icon-background-positioner(46, 0); }
    .Icon--Rocket.gray              { @include icon-background-positioner(46, 1); }
    .Icon--Rocket.orange            { @include icon-background-positioner(46, 2); }
    .Icon--Rocket.white             { @include icon-background-positioner(46, 5); }
.Icon--Trucks                   { @include icon-background-positioner(47, 0); }
    .Icon--Trucks.gray              { @include icon-background-positioner(47, 1); }
    .Icon--Trucks.orange            { @include icon-background-positioner(47, 2); }
    .Icon--Trucks.white             { @include icon-background-positioner(47, 5); }
.Icon--Star                     { @include icon-background-positioner(48, 0); }
    .Icon--Star.white               { @include icon-background-positioner(48, 1); }
.Icon--Euro                     { @include icon-background-positioner(49, 0); }
    .Icon--Euro.white               { @include icon-background-positioner(49, 1); }
.Icon--Thumb                    { @include icon-background-positioner(50, 0); }
    .Icon--Thumb.white              { @include icon-background-positioner(50, 1); }
.Icon--Bang                     { @include icon-background-positioner(51, 0); }
    .Icon--Bang.white               { @include icon-background-positioner(51, 1); }
.Icon--Leaf                     { @include icon-background-positioner(52, 0); }
    .Icon--Leaf.white               { @include icon-background-positioner(52, 1); }
.Icon--EuroTag                  { @include icon-background-positioner(53, 0); }
.Icon--Calculator               { @include icon-background-positioner(53, 0); }
.Icon--Clapperboard             { @include icon-background-positioner(55, 0); }
.Icon--DocumentNew              { @include icon-background-positioner(57, 0); }
    .Icon--DocumentNew.white        { @include icon-background-positioner(57, 5); }
.Icon--Documents                { @include icon-background-positioner(58, 0); }
    .Icon--Documents.gray           { @include icon-background-positioner(58, 1); }
    .Icon--Documents.orange         { @include icon-background-positioner(58, 2); }
.Icon--DocumentStar             { @include icon-background-positioner(59, 0); }
.Icon--Document                 { @include icon-background-positioner(60, 0); }
.Icon--DocumentLandscape        { @include icon-background-positioner(61, 0); }
.Icon--ZoomPan                  { @include icon-background-positioner(62, 0); }
.Icon--ZoomOut                  { @include icon-background-positioner(63, 0); }
.Icon--ZoomIn                   { @include icon-background-positioner(64, 0); }
.Icon--Target                   { @include icon-background-positioner(65, 0); }
.Icon--Refresh                  { @include icon-background-positioner(66, 0); }
.Icon--Brush                    { @include icon-background-positioner(67, 0); }
.Icon--Pencil                   { @include icon-background-positioner(68, 0); }
.Icon--Truck                    { @include icon-background-positioner(69, 0); }
    .Icon--Truck.gray               { @include icon-background-positioner(69, 1); }
    .Icon--Truck.orange             { @include icon-background-positioner(69, 2); }
    .Icon--Truck.blue               { @include icon-background-positioner(69, 3); }
.Icon--Train                    { @include icon-background-positioner(70, 0); }
    .Icon--Train.gray               { @include icon-background-positioner(70, 1); }
    .Icon--Train.orange             { @include icon-background-positioner(70, 2); }
    .Icon--Train.blue               { @include icon-background-positioner(70, 3); }
.Icon--Rocket                   { @include icon-background-positioner(71, 0); }
    .Icon--Rocket.gray              { @include icon-background-positioner(71, 1); }
    .Icon--Rocket.orange            { @include icon-background-positioner(71, 2); }
    .Icon--Rocket.blue              { @include icon-background-positioner(71, 3); }
.Icon--MapMarker                { @include icon-background-positioner(72, 0); }
    .Icon--MapMarker.gray           { @include icon-background-positioner(72, 1); }
    .Icon--MapMarker.orange         { @include icon-background-positioner(72, 2); }
    .Icon--MapMarker.blue           { @include icon-background-positioner(72, 3); }
.Icon--MapMarkerHouse           { @include icon-background-positioner(73, 0); }
    .Icon--MapMarkerHouse.blue      { @include icon-background-positioner(73, 3); }

/**
 * Social Media
 */
.Icon--Facebook    { @include icon-background-positioner(84, 6); }
.Icon--Twitter     { @include icon-background-positioner(85, 6); }
    .Icon--Twitter.blue { @include icon-background-positioner(85, 3); }
.Icon--GooglePlus  { @include icon-background-positioner(86, 6); }
.Icon--LinkedIn    { @include icon-background-positioner(87, 6); }
.Icon--Pinterest   { @include icon-background-positioner(88, 6); }
.Icon--Youtube     { @include icon-background-positioner(89, 6); }
.Icon--RSS         { @include icon-background-positioner(90, 6); }
.Icon--Vimeo       { @include icon-background-positioner(91, 6); }
.Icon--Instagram   { @include icon-background-positioner(92, 6); }

/**
 * Selector form elements
 */
.Icon--RadioChecked     { @include icon-background-positioner(93, 6); }
.Icon--Radio            { @include icon-background-positioner(94, 6); }
.Icon--CheckboxChecked  { @include icon-background-positioner(95, 6); }
.Icon--Checkbox         { @include icon-background-positioner(96, 6); }

/**
 * Miscellaneous
 *
 * Resizing the background here, to prevent super duper large logo's. Adjust the 
 * multiplier below to fit the designer's taste.
 */
$icon-misc-multiplier: 0.75;

.Icon--Mastercard,
.Icon--Visa,
.Icon--Ideal {

    &:before {
        background-size: ($base-icon-size * $base-sprite-columns * $icon-misc-multiplier) ($base-icon-size * $base-sprite-rows * $icon-misc-multiplier);
        padding-bottom: $base-icon-size * 3 * $icon-misc-multiplier;
    }
}

/**
 * 1. Slight deviations because of browser percentage rounding.
 */
.Icon--Ideal {
    @include icon-background-positioner(22, 13.875); /* [1] */

    &:before {
        width: $base-icon-size*3.5*$icon-misc-multiplier;
    }
}

.Icon--Visa {
    @include icon-background-positioner(27.5, 13.875);

    &:before {
        width: $base-icon-size*10*$icon-misc-multiplier;
    }
}

.Icon--Mastercard {
    @include icon-background-positioner(36.5, 13.875);
    
    &:before {
        width: $base-icon-size*5*$icon-misc-multiplier;
    }
}

.Icon--Homeshopping {
    @include icon-background-positioner(45, 14);

    &:before {
        width: $base-icon-size*8;
        padding-bottom: 20%;
    }
}
