/**
 * UI.Object.Label
 *
 * 1. Reset font-styles for use in headings.
 */
.Label {
    background-color: $brand-gamma-main;
    color: $brand-eta;
    border-radius: $brand-round-small;
}

.Label--Alt {
    background-color: $brand-beta-main;
}
