/**
 * UI.Object.Matrix
 *
 * 1. FIXME: create equal height columns
 *
 * This matrix assumes that it consists of the following structure:
 * 
 * <ol class="Matrix Matrix--Padded">
 *   <li>
 *     <a href="">
 *       ...
 *     </a>
 *   </li>
 * </ol>
 */
.Matrix {

    li {
        border-color: $brand-iota;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        margin-left: -1px;

        > a {
            display: block;
            text-decoration: none;
            padding: $base-spacing-unit;
            border-bottom: $base-spacing-unit/4 solid transparent;

            &:hover {
                border-bottom-color: $brand-alpha-main;
            }

            > :last-child {
                margin-bottom: 0;
            }
        }
    }

    img {
        margin-top: $base-spacing-unit;
    }
}

.Matrix--Triple > li:nth-child(2n + 2),
.Matrix--Quadruple > li:nth-child(2n + 2) {
    border-right-width: 0;
}

.Matrix--Triple > li:nth-child(2n + 1),
.Matrix--Quadruple > li:nth-child(2n + 1) {
    border-left-width: 0;
}

.Matrix--Single > li,
.Matrix--Double > li:nth-child(2n + 1),
.Matrix--Triple > li:nth-child(3n + 1),
.Matrix--Quadruple > li:nth-child(4n + 1) {

    @include breakpoint ($bp-s) {
        border-left-width: 0;
    }
}

.Matrix--Triple > li:nth-child(2n + 2),
.Matrix--Quadruple > li:nth-child(2n + 2) {

    @include breakpoint ($bp-s) {
        border-right-width: 1px;
    }
}

.Matrix--Single > li,
.Matrix--Double > li:nth-child(2n + 2),
.Matrix--Triple > li:nth-child(3n + 3),
.Matrix--Quadruple > li:nth-child(4n + 4) {

    @include breakpoint ($bp-s) {
        border-right-width: 0;
    }
}
