/**
 * UI.Object.Meter
 */
.Meter {
    border-radius: $brand-round-small;
    background-color: $brand-beta-tert;
    border: 1px solid $brand-beta-main;
}

    /**
     * 1. Vertically striped background pattern.
     */
    .Meter__Value {
        @include linear-gradient(90deg, $brand-beta-main 96%, transparentize($brand-eta, 0.5) 1px); /* [1] */
        background-size: $base-spacing-unit*2;
    }
