/**
 * UI.Object.Modal
 */
.Modal {
    top: $base-spacing-unit*2;
    padding: $base-spacing-unit*2;
    max-width: $base-max-site-width;
    background-color: $brand-eta;
    border-radius: $brand-round-small;
    box-shadow: $shadow-global;
    z-index: calculate-z-index(1);
}

.Modal,
.Modal__Backdrop {
    transform: scale(0) translateY(-100%);
}

.Modal--Active,
.Modal__Backdrop--Active {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.Modal--Active {
  transition: transform $base-animation-duration $base-animation-function $base-animation-duration;
}

    .Modal__Backdrop {
        background-color: $brand-omicron;
        background-color: transparentize($brand-omicron, 0.5);
        z-index: calculate-z-index(2);
    }

    /**
     * 1. Max-height will be overridden with JS if necessary after a
     *    Modernizr check
     */
    .Modal__Body {
        max-height: 80vh; /* [1] */
    }

    .Modal__Close {
        @include hide-text;
        @include overlay(right, top, ($base-spacing-unit*-1), ($base-spacing-unit*-1));
        @extend .Icon;
        @extend .Icon--Cross;
        padding: $base-spacing-unit/2;
        border-radius: 50%;
        background-color: $brand-eta;
        cursor: pointer;
    }
