/**
 * UI.Object.Switch
 */
.Switch {
    background-color: $brand-kappa;
    border-radius: $brand-round-small;
    overflow: hidden;
}

    .Switch__Toggle {
        padding: 0.125em 0.375em;
        border: 1px solid $brand-kappa;
        @include linear-gradient($brand-iota, $brand-kappa, $fallback: $brand-iota);

        .Switch__Option:checked + & {
            background: $brand-gamma-main;
            color: $brand-eta;
            box-shadow: inset 0 0 0.5em $brand-gamma-sec;
            border-color: $brand-gamma-sec;
        }
    }
