/**
 * Debugging
 */
@if $debug == true {

    $debug-color-warn: yellow;
    $debug-color-alert: red;

    html:after {
        content: "No breakpoint";
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0.25em 0.5em;
        background-color: $debug-color-warn;
        color: $debug-color-alert;
        border: 1px solid $debug-color-warn;
        box-shadow: -0.125em -0.125em 0.5em rgba(23, 23, 23, 0.3);

        @each $bp_name, $bp_width in $breakpoints {
            @include breakpoint ($bp_width) {
                content: "bp: #{$bp_name} (>#{$bp_width})";
            }
        }
    }

    /**
     * The Debug Items below are from InuitCSS by Harry Roberts
     * https://github.com/csswizardry/inuit.css/blob/master/generic/_debug.scss
     *
     * Enable this stylesheet to visually detect any improperly nested or
     * potentially invalid markup, or any potentially inaccessible code.
     *
     * Red          ==      definite error
     * Yellow       ==      double-check
     * None         ==      should be fine
     */
    
    /**
     * Are there any empty elements in your page?
     */
    :empty:not(.Icon) {
        outline: 3px solid $debug-color-warn;
    }

    /**
     * Images require `alt` attributes, empty `alt`s are fine but should be
     * double-checked, no `alt` is bad and is flagged red.
     */
    img {
        outline: 3px solid $debug-color-alert;
    }
    img[alt] {
        outline: none;
    }
    img[alt=""] {
        outline: 3px solid $debug-color-warn;
    }

    /**
     * Double-check any links whose `href` is something questionable.
     */
    a[href="#"],
    a[href=""],
    a[href*="javascript"] {
        outline: 3px solid $debug-color-warn;
    }

    /**
     * The `target` attribute ain’t too nice...
     */
    a[target] {
        outline: 3px solid $debug-color-warn;
    }

    /**
     * `tr`s as children of `table`s ain’t great, did you need a `thead`/`tbody`?
     */
    table > tr {
        outline: 3px solid $debug-color-warn;
    }

    /**
     * `tfoot` needs to come *before* `tbody`.
     */
    tbody + tfoot {
        outline: 3px solid $debug-color-warn;
    }

    /**
     * Forms require `action` attributes
     */
    form {
        outline: 3px solid $debug-color-alert;
    }
    form[action] {
        outline: none;
    }

    /**
     * Various form-field types have required attributes. `input`s need `type`
     * attributes, `textarea`s need `rows` and `cols` attributes and submit buttons
     * need a `value` attribute.
     */
    textarea,
    input {
        outline: 3px solid $debug-color-alert;
    }
    input[type] {
        outline: none;
    }
    input[type=submit] {
        outline: 3px solid $debug-color-alert;
    }
    input[type=submit][value] {
        outline: none;
    }

    /**
     * Ensure any lists only contain `li`s as children.
     */
    ul,
    ol {
        > *:not(li) {
            outline: 3px solid $debug-color-warn;
        }
    }

    /**
     * Avoid inline styles where possible.
     */
    [style] {
        outline: 3px solid $debug-color-warn;
    }

    /**
     * You should avoid using IDs for CSS, is this doing any styling?
     */
    [id] {
        outline: 3px solid $debug-color-warn;
    }
}
