/**
 * Font Size mixin
 *
 * From http://seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
 *
 * @param $decimal-size The rem-value of the font-size
 * @param $keyword      A CSS font-size keyword like xx-small - xx-large
 */
@mixin font-size( $decimal-size, $keyword: null ) {
    $base-font-multiplier: 1;

    @if $keyword {
        font-size: $keyword;
    }

    @else {
        font-size: $decimal-size * $base-font-multiplier * $base-font-size;
    }

    font-size: $decimal-size * 1rem;
}

/**
 * Clearfix for a container with floated children.
 *
 * @overrides Bourbon::clearfix
 */
@mixin clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Bottom spacing utility
 *
 * @param $multiplier The amount of units that will be applied
 */
@mixin margin-bottom($multiplier: 1) {
    margin-bottom: $base-spacing-unit * $multiplier;
}


/**
 * Breakpoint mixin
 *
 * @param $breakpoint The screen width where to apply the content
 */
@mixin breakpoint($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

/**
 * Enforce GPU to kick in for smooth animations and maximum performance
 */
@mixin animatable {
    backface-visibility: hidden;
}

/**
 * Generate scrollbars inside an element
 *
 * @param $axis The axis on which to scroll. Can be x or y.
 *              Default: y.
 */
@mixin scrollable($axis: "y") {
    overflow-#{$axis}: auto;
    -webkit-overflow-scrolling: touch;
}

/**
 * Calculate the z-index based on the priority.
 *
 * @param $priority {number}
 * @link http://cdpn.io/38f582f9b1d85b243ce87be040fefdf4
 */
@function calculate-z-index($priority) {
    @return $base-z-index-priorities - $priority;
}

/**
 * Generate properties for an Overlay Object
 * @param $pos-x The horizontal position.
 *               Possible values: before, left, right, after
 *               Default: left
 * @param $pos-y The vertical position.
 *               Possible values: above, top, bottom, beneath
 *               Default: top
 * @param $offset-x The horizontal offset. Only use with left or right.
 * @param $offset-y The vertical offset. Only use with top or bottom.
 * @param $z-index The z-index.
 */
@mixin overlay($pos-x: left, $pos-y: top, $offset-x: 0, $offset-y: 0, $z-index: null) {
    position: absolute;

    @if ($pos-x == before) {
        right: 100%;
    }
    @else if ($pos-x == left) {
        left: $offset-x;
    }
    @else if ($pos-x == right) {
        right: $offset-x;
    }
    @else if ($pos-x == after) {
        left: 100%;
    }

    @if ($pos-y == above) {
        bottom: 100%;
    }
    @else if ($pos-y == top) {
        top: $offset-y;
    }
    @else if ($pos-y == bottom) {
        bottom: $offset-y;
    }
    @else if ($pos-y == beneath) {
        top: 100%;
    }

    @if (type-of($z-index) == number) {
        z-index: $z-index;
    }
}
