/**
 * Spacing and sizes
 */
$base-spacing-unit: 12px !default;
$base-grid-columns: 12 !default;
$base-font-size: 14px !default;
$base-ui-color: #aaa !default;

$h1-size: 2.4 !default;
$h2-size: 1.8 !default;
$h3-size: 1.4 !default;
$h4-size: 1.4 !default;
$h5-size: 1.4 !default;
$h6-size: 1.4 !default;

$giga-size: 7.2 !default;
$mega-size: 4.8 !default;
$kilo-size: 3.6 !default;

$milli-size: 1.2 !default;
$micro-size: 1.0 !default;

/**
 * Breakpoints
 *
 * Defined and mapped seperately, so the breakpoints themselves can
 * be used in breakpoint mixins.
 */
   $bp-s: 33em !default;
   $bp-m: 44em !default;
   $bp-l: 55em !default;
  $bp-xl: 66em !default;
 $bp-xxl: 77em !default;
$bp-xxxl: 88em !default;

$breakpoints: (
	    'small' $bp-s,
	   'medium' $bp-m,
	    'large' $bp-l,
	  'x-large' $bp-xl,
	 'xx-large' $bp-xxl,
	'xxx-large' $bp-xxxl
) !default;

$base-sprite-path: "" !default;
$base-sprite-columns: 10 !default;
$base-sprite-rows: 10 !default;
$base-icon-size: $base-spacing-unit !default;
