/**
 * Headings
 */
h1 {
    @include font-size($h1-size, xx-large);
}
h2 {
    @include font-size($h2-size, x-large);
}
h3 {
    @include font-size($h3-size, large);
}
h4 {
    @include font-size($h4-size, medium);
}
h5 {
    @include font-size($h5-size, small);
}
h6 {
    @include font-size($h6-size, x-small);
}
