/**
 * Page
 *
 * 1. Force vertical scrollbars to be always visible to avoid 
 *    'jumping' pages.
 * 2. Always make the page fill the entire viewport.
 */
html {
    overflow-y: scroll; /* [1] */
    min-height: 100%; /* [2] */
}
